{include file="public/header" /}
{include file="public/table"/}     
{include file="public/footer" /}
<script>
    layui.use('tableTool', function(){
        var tableTool = layui.tableTool;
        tableTool.render({
            elem: '#list'
            ,url:url
            ,toolbar: '#toolbar' 
            ,defaultToolbar: ['filter', 'exports', 'print', { 
              title: '提示'
              ,layEvent: 'LAYTABLE_TIPS'
              ,icon: 'layui-icon-tips'
            }]
            ,cols: [[
               {type:'checkbox'}
              ,{field:'id', width:80, title: 'ID', sort: true}
              ,{field:'nid', width:80, title: '标识'}
              ,{field:'typename', width:150, title: '名称'}
              ,{field:'maintable', width:150, title: '主表名称'}
              ,{field:'addtable', width:150, title: '附表名称'}
              ,{field:'listfields', width:'20%', title: '字段'}
               ,{field:'fieldset', width:'20%', title: '字段设置',type:'text'}
              ,{field:'isshow', width:80, title: '显示', sort: true}
              ,{field:'', width:180, title: '操作',templet:tableTool.templet.operate}
            ]]
            ,limit:20
            ,page: true
        })
        tableTool.events.operate();
        tableTool.events.toolbar();
  })
</script>

