{include file="public/header" /}
<div class="layui-row" style='background: #f2f2f2;padding: 15px'>
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md2">
      <div class="layui-card">
        <div class="layui-card-header">栏目列表</div>
        
        <div class="layui-card-body">
            <div id="arctype" class="arctype-tree" style='padding-bottom: 50px;'>
                
            </div>
        </div>
      </div>
    </div>
    <div class="layui-col-md10">
      <div class="layui-card">
        <div class="layui-card-header">内容管理</div>
        <div class="layui-card-body">
            <form class="layui-form" action="">
                <div class="layui-form-item">
                  <div class="layui-flex">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入标题关键词搜索" autocomplete="off" class="layui-input layui-col-md3" style='max-width: 350px;margin-right:5px;'>
                        <button type="button" class="layui-btn layui-btn-sm">搜索</button>
                  </div>
                </div>
            </form>
            <table class="layui-hide" id="list" lay-filter="list"></table>
            <input type="hidden" name="typeid" value="0">
        </div>
      </div>
    </div>
  </div>
</div>         
{include file="public/footer" /}

<script>
    layui.use(['table'], function(){
        var tree = layui.tree
        ,layer = layui.layer
        ,util = layui.util
        ,table = layui.table
        ,$ = layui.jquery,typeid;
        $.post('{:url("arclist/arctypeList")}',{},function(res){
            tree.render({
              elem: '#arctype'
              ,data: res.data
              ,onlyIconControl: true  //是否仅允许节点左侧图标控制展开收缩
              ,checked:true
              ,click: function(obj){
                    var typeid = obj.data.id;
                    arclist(typeid);
                    $('input[name="typeid"]').val(typeid);
              }
            });
        })

    var arclist =function(typeid){
        var url = '{:url("arclist/index")}?typeid='+typeid
        table.render({
            elem: '#list'
            ,url:url
            ,toolbar: '#toolbar' 
            ,defaultToolbar: ['filter', 'exports', 'print', { 
              title: '提示'
              ,layEvent: 'LAYTABLE_TIPS'
              ,icon: 'layui-icon-tips'
            }]
            ,cols: [[
              {type:'checkbox'}
              ,{field:'id', width:80, title: 'ID', sort: true}
              ,{field:'title', width:'20%', title: '标题'}
              ,{field:'', width:120, title: '栏目', sort: true,templet:function(d){return d.arctype.typename}}
              ,{field:'litpic', width:120, title: '缩略图', sort: true,templet:function(d){
                  return '<img src="'+d.litpic+'" style="height:45px;"class="image">'; 
               }}
              ,{field:'arcrank', width:120, title: '预览权限', sort: true}
              ,{field:'weight', width:80, title: '排序', sort: true}
//              ,{field:'senddate', width:180, title: '创建时间'}
              ,{field:'pubdate', width:180,title: '更新时间'}
              ,{field:'', width:"20%", title: '操作',templet:'#operate'}
            ]]
            ,limit:20
            ,page: true
        })
    }
    arclist(0);
    table.on('toolbar(list)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id),
            id = checkStatus.data.id||0,
            typeid = $('input[name="typeid"]').val();
            switch(obj.event){
              case 'add':
                layer.open({
                    type: 2,
                    title: '编辑',
                    shadeClose: true,
                    shade: 0.2,
                    maxmin: true, //开启最大化最小化按钮
                    area: ['85%', '85%'],
                    content: '{:url(request()->controller()."/addEdit")}?id='+id+'&typeid='+typeid
                });
              break;
              case 'getCheckData':
                var data = checkStatus.data;
                layer.alert(JSON.stringify(data));
              break;
              case 'getCheckLength':
                var data = checkStatus.data;
                layer.msg('选中了：'+ data.length + ' 个');
              break;
              case 'isAll':
                layer.msg(checkStatus.isAll ? '全选': '未全选');
              break;

              //自定义头工具栏右侧图标 - 提示
              case 'LAYTABLE_TIPS':
                layer.alert('这是工具栏右侧自定义的一个图标按钮');
              break;
            };
          });
  })
</script>

