{include file="public/header" /}
<form class="layui-form" action="" lay-filter="list">
    <div class="layui-row layui-form-list" style="">
           <div class="layui-form-item">
                <div class="layui-inline">
                  <label class="layui-form-label">名称</label>
                  <div class="layui-input-inline">
                        <input type="text" name="userid" lay-verify="" autocomplete="off" class="layui-input">
                  </div>
                </div>
          </div>
           <div class="layui-form-item">
            <div class="layui-inline">
              <label class="layui-form-label">表名</label>
              <div class="layui-input-inline">
                    <input type="password" name="pwd" lay-verify="" autocomplete="off" class="layui-input">
              </div>
            </div>
            <div class="layui-inline">
              <label class="layui-form-label">是否公开</label>
              <div class="layui-input-inline">
                <input type="password" name="pwdreplace"  autocomplete="off" class="layui-input">
              </div>
            </div>
          </div>
    </div>
    <div class="layui-flex layui-submit">
        <button class="layui-btn layui-btn-sm layui-submit-btn" lay-submit="" lay-filter="submit">提交</button>
    </div>
</form>
{include file="public/footer" /}
<script>
    
</script>