{include file="public/header" /}
{include file="public/table"/}
{include file="public/footer" /}
<script>
     layui.use(['tableTool'], function(){
      var tableTool = layui.tableTool;
        tableTool.render({
          elem: '#list'
          ,height: '800'
          ,url: url //数据接口
          ,page: false //开启分页
           ,toolbar: '#toolbar' 
           ,defaultToolbar: ['filter', 'exports', 'print', {
              title: '提示'
              ,layEvent: 'LAYTABLE_TIPS'
              ,icon: 'layui-icon-tips'
            }]
          ,cols: [[ //表头
            {type:'checkbox'}      
            ,{field: 'diyid', title: 'ID', width:80, sort: true}
            ,{field: 'name', title: '名称', width:100,sort: true,align:'center'}
//            ,{field: 'posttemplate', title: 'posttemplate', width:150,sort: true,align:'center'}
//            ,{field: 'viewtemplate', title: 'viewtemplate', width:150,sort: true,align:'center'}
//            ,{field: 'listtemplate', title: 'listtemplate', width:150,sort: true,align:'center'}
            ,{field: 'table', title: '数据库表名', width:150,sort: true,align:'center'}
            ,{field: 'data', title: '数据列表', width:450,sort: true,align:'center'}
            ,{field: '', title: '操作', width:150,align:'center',templet:tableTool.templet.operate,operate:['table'],url:'{:url("diyforms/diyData")}'}
          ]]
        });
        tableTool.events.operate();//操作事件
        tableTool.events.toolbar();//工具条事件
    });
</script>