{include file="public/header" /}
<form class="layui-form" action="" lay-filter="list">
    <div class="layui-row layui-form-list">
        <div class="layui-form-item">
             <label class="layui-form-label">网站名称</label>
             <div class="layui-input-block">
                   <input type="text" name="webname" lay-verify="required" autocomplete="off" class="layui-input">
             </div>
         </div>
         <div class="layui-form-item">
           <label class="layui-form-label">级别等级</label>
           <div class="layui-input-inline">
                 <select name="typeid" lay-filter="required">
                     {volist name="flinktype" id="vo"}
                     <option value="{$vo.id}">{$vo.typename}</option>
                     {/volist}
                  </select>
           </div>
         </div>  
         <div class="layui-form-item">
             <label class="layui-form-label">网址</label>
             <div class="layui-input-block">
                   <input type="text" name="url" lay-verify="" autocomplete="off" class="layui-input">
             </div>
        </div>
       <div class="layui-form-item layui-upload">
           <label class="layui-form-label">图片</label>
           <div class="layui-input-inline">
                 <input type="text" name="logo" lay-verify="" autocomplete="off" class="layui-input">
           </div>
           <div class="layui-word-aux layui-upload">
                 <button type="button" class="layui-btn layui-btn-sm" id="{$vo.name}" lay-filter="upload">
                     <i class="layui-icon">&#xe67c;</i>上传
                </button>
           </div>
       </div>
      <div class="layui-form-item">
         <label class="layui-form-label">排序</label>
         <div class="layui-input-inline">
           <input type="text" name="sortrank" lay-verify="" autocomplete="off" class="layui-input">
         </div>
       </div>
       <div class="layui-form-item">
         <div class="layui-inline">
           <label class="layui-form-label">备注</label>
           <div class="layui-input-inline">
                 <input type="text" name="msg" lay-verify="" autocomplete="off" class="layui-input">
           </div>
         </div>
         <div class="layui-inline">
           <label class="layui-form-label">邮件</label>
           <div class="layui-input-inline">
             <input type="text" name="email" lay-verify="" autocomplete="off" class="layui-input">
           </div>
         </div>
       </div>
    </div>
    <div class="layui-flex layui-submit">
        <button class="layui-btn layui-btn-sm layui-submit-btn" lay-submit="" lay-filter="submit">提交</button>
    </div>
</form>
{include file="public/footer" /}
<script>
    layui.use('formTool', function(){
       var formTool = layui.formTool;
       formTool.setValue();
       formTool.uploads();
       formTool.events.submit();
    })
</script>