{include file="public/header" /}
<form class="layui-form" action="" lay-filter="list">
    <div class="layui-row layui-form-list">
        <div class="layui-form-item">
            <label class="layui-form-label">名称</label>
            <div class="layui-input-block">
                  <input type="text" name="typename" lay-verify="" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">权限管理</label>
            <div class="layui-input-block">
                   <table id="list" lay-filter="list"></table>
            </div>
        </div>
    </div>
    <div class="layui-flex layui-submit">
        <button class="layui-btn layui-btn-sm layui-submit-btn" lay-submit="" lay-filter="submit">提交</button>
    </div>  
</form>
{include file="public/footer" /}
<script>
    layui.use(['formTool','tableTool','tree','jquery'], function(){
       var formTool = layui.formTool
       ,tableTool = layui.tableTool
       ,$ = layui.jquery
       ,tree = layui.tree;
       var authRuleList = {:json_encode($authRuleList)};
       formTool.setValue();
       tree.render({
            elem: '#list'
            ,id: 'list'
            ,field:'purviews[]'
            ,showCheckbox:true
            ,data: authRuleList
          });
       formTool.events.submit();
    })
</script>