<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>{$info.title}_{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$info.keywords}" />
<meta name="description" content="{$info.description}" />
<script type="text/javascript" src="/skin/js/jquery-1.12.4.min.js"></script>
<link rel="stylesheet" href="/skin/css/style.css">
<link rel="stylesheet" href="/skin/css/font-awesome.min.css">
<script type="text/javascript" src="/skin/js/js.js"></script>
<script type="text/javascript" src="/skin/js/superslide.js"></script>
<script src="/skin/js/jquery.imagezoom.min.js"></script>
</head>
<body>
{include file="head"/}
{include file="banner"/}
<div class="container">
    {include file="position2"/}
    <div class="center">
        <div class="wrap clearfix">
            {include file="left2"/}
            <div class="main_r fr" style="position: relative;">
                <div class="yunu-showcase clearfix">
                    <div class="yunupor">
                        <div class="yunu-showcase-pic">
                            <div class="cover img-center" style="background:url({$info.litpic}); background-size:405px 360px; " > {yycms:field name='imgurls' row='1'}  <img  class="jqzoom" src="{$field.imgsrc}" rel="{$field.imgsrc}" alt="">{/yycms:field} </div>
                            <div class="showpropic">
                                <div class="bd"> <a href="javascript:;" class="prev"></a> <a href="javascript:;" class="next"></a>
                                    <ul class="picList">
									    {yycms:productimagelist}  
                                        <li> <img  src="{$field.imgsrc}" rel="{$field.imgsrc}"  /> </li>
										{/yycms:productimagelist}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pro_desc">
                        <h3>{$info.title}</h3>
                        <p>
                        <p>{$info.description}...</p>
                        </p>
                    </div>
                </div>
                <div class="pro_content">
                    <div class="pro_cont1">
                        <div class="hd">
                            <ul>
                                <li class="on">功能特性</li>
                                <li class="">参数规格</li>
                                <li class="">视频</li>
                                <li class="">应用案例</li>
                                <li class="">下载</li>
                            </ul>
                        </div>
                        <div class="border_tit">
                            <p>{$info.title}</p>
                        </div>
                        <div class="bd">
                            <ul>
                                <div class="text"> {$info.body|raw} </div>
                            </ul>
                            <ul>
                                <div class="text"> {$info.cs} </div>
                            </ul>
                            <ul>
                                <div class="text"> {$info.sp} </div>
                            </ul>
                            <ul>
                                <div class="text"> {$info.al} </div>
                            </ul>
                            <ul>
                                <div class="text"> {$info.xz} </div>
                            </ul>
                        </div>
                    </div>
                    <script type="text/javascript">
                            jQuery(".pro_cont1").slide({trigger:"click",delayTime:700});
                        </script>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="footer"/}
<script>
        var $zoom = $('.jqzoom');
        $zoom.imagezoom({
            xzoom : 380,
            yzoom : 302
        });
        $('.yunu-showcase-pic').slide({
            titCell: '.hd ul',
            mainCell: '.bd ul',
            autoPage: true,
            effect: 'left',
            vis: 3
        }).on('mouseenter', '.bd li', function () {
            var src = $(this).find('img').attr('src');
            $zoom.attr('src', src);
            $zoom.attr('rel', src);
            $(this).addClass('active').siblings().removeClass('active');
        }).find('li').eq(0).addClass('active');
    </script>
    <script type="text/javascript">
        $('.nav ul li a').removeClass('active');
        $('.nav ul li a').eq(2).addClass('active');
    </script>

</body>
</html>
