<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>{dede:field.title/}_{dede:global.cfg_webname/}</title>
<meta name="keywords" content="{dede:field.keywords/}" />
<meta name="description" content="{dede:field.description function='html2text(@me)'/}" />
<script type="text/javascript" src="/skin/js/jquery-1.12.4.min.js"></script>
<link rel="stylesheet" href="/skin/css/style.css">
<link rel="stylesheet" href="/skin/css/font-awesome.min.css">
<script type="text/javascript" src="/skin/js/js.js"></script>
<script type="text/javascript" src="/skin/js/superslide.js"></script>
<script src="/skin/js/jquery.imagezoom.min.js"></script>
</head>
<body>
{dede:include filename="head.htm"/}
{dede:include filename="banner.htm"/}
<div class="container">
    {dede:include filename="position2.htm"/}
    <div class="center">
        <div class="wrap clearfix">
            {dede:include filename="left2.htm"/}
            <div class="main_r fr" style="position: relative;">
                <div class="yunu-showcase clearfix">
                    <div class="yunupor">
                        <div class="yunu-showcase-pic">
                            <div class="cover img-center" style="background:url({dede:field.litpic/}); background-size:405px 360px; " > {dede:field name='imgurls' row='1'}  <img  class="jqzoom" src="[field:imgsrc/]" rel="[field:imgsrc/]" alt="">{/dede:field} </div>
                            <div class="showpropic">
                                <div class="bd"> <a href="javascript:;" class="prev"></a> <a href="javascript:;" class="next"></a>
                                    <ul class="picList">
									    {dede:productimagelist}  
                                        <li> <img  src="[field:imgsrc/]" rel="[field:imgsrc/]"  /> </li>
										{/dede:productimagelist}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pro_desc">
                        <h3>{dede:field.title/}</h3>
                        <p>
                        <p>{dede:field.description/}...</p>
                        </p>
                    </div>
                </div>
                <div class="pro_content">
                    <div class="pro_cont1">
                        <div class="hd">
                            <ul>
                                <li class="on">功能特性</li>
                                <li class="">参数规格</li>
                                <li class="">视频</li>
                                <li class="">应用案例</li>
                                <li class="">下载</li>
                            </ul>
                        </div>
                        <div class="border_tit">
                            <p>{dede:field.title/}</p>
                        </div>
                        <div class="bd">
                            <ul>
                                <div class="text"> {dede:field.body/} </div>
                            </ul>
                            <ul>
                                <div class="text"> {dede:field.cs/} </div>
                            </ul>
                            <ul>
                                <div class="text"> {dede:field.sp/} </div>
                            </ul>
                            <ul>
                                <div class="text"> {dede:field.al/} </div>
                            </ul>
                            <ul>
                                <div class="text"> {dede:field.xz/} </div>
                            </ul>
                        </div>
                    </div>
                    <script type="text/javascript">
                            jQuery(".pro_cont1").slide({trigger:"click",delayTime:700});
                        </script>
                </div>
            </div>
        </div>
    </div>
</div>
{dede:include filename="footer.htm"/}
<script>
        var $zoom = $('.jqzoom');
        $zoom.imagezoom({
            xzoom : 380,
            yzoom : 302
        });
        $('.yunu-showcase-pic').slide({
            titCell: '.hd ul',
            mainCell: '.bd ul',
            autoPage: true,
            effect: 'left',
            vis: 3
        }).on('mouseenter', '.bd li', function () {
            var src = $(this).find('img').attr('src');
            $zoom.attr('src', src);
            $zoom.attr('rel', src);
            $(this).addClass('active').siblings().removeClass('active');
        }).find('li').eq(0).addClass('active');
    </script>
    <script type="text/javascript">
        $('.nav ul li a').removeClass('active');
        $('.nav ul li a').eq(2).addClass('active');
    </script>

</body>
</html>
