<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Cache-Control" content="no-transform" />
<title>{yycms:field.title/}_{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{yycms:field.keywords/}" />
<meta name="description" content="{yycms:field.description function='html2text(@me)'/}" />
<link href="static/css/css.css" type="text/css" rel="stylesheet" />
</head>
<body>
{yycms:include filename='header_m.htm'/}
<div class="advert1"> <img src="static/images/20170210163909498.jpg" width="100%"> </div>
<div class="content">
<div class="nav"> 
{yycms:channel type='son'}
		<a href='list.php?tid=[field:id/]'>[field:typename/]</a> 
	{/yycms:channel}
 </div>
<div class="clear"></div>
<div class="title"><h1>{yycms:field.title/}</h1></div>
<div class="con"> 
	{yycms:field.body/}
 </div>

 
{yycms:include filename='footer_m.htm'/}
<div class="clear"></div>
</body>
</html>
