<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<title>{$yy.field.title}_{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{$yy.field.description}"/>
<link href="/m/skin/css/style.css" rel="stylesheet">
<link href="/m/skin/css/common.css" rel="stylesheet">
<script src="/m/skin/js/autofontsize.min.js"></script>
<script src="/m/skin/js/jquery.js"></script>
<script src="/m/skin/js/clipboard.min.js"></script>
<script src="/m/skin/js/common.js"></script>
</head>
<body>
{include file="header_m"/} 
<!--位置开始--> 
{include file="left_m"/} 
<!--位置结束--> 
<!--文章内容开始-->
<section class="content showInfo">
  <div class="showTit">
    <h1>{$yy.field.title}</h1>
    <p class="mark">发布日期：{$yy.field.pubdate}　浏览次数：<i id="hits">{$yy.field.click}</i></p>
  </div>
  <div class="contxt">
    <p>{$yy.field.body|raw}</p>
  </div>
  <div class="clearfix"></div>
  <div class="reLink clearfix">
    <div class="prevLink fl">{yycms:prenext get='prewap'/}</div>
    <div class="nextLink fl">{yycms:prenext get='nextwap'/}</div>
  </div>
  
  <!--推荐新闻开始-->
  <div class="newsPage recomCon">
    <div class="indexTit">{yycms:type typeid='12'} <a class="more" href="{$field.typeurl}" title="{$field.typename}">更多&gt;&gt;</a>{/yycms:type}
      <h3>推荐新闻</h3>
    </div>
    <div class="list clearfix"> {yycms:arclist typeid='12' row='3' titlelen='50' orderby='pubdate'} <a class="loop item clearfix" href="{$field.arcurl}" title="{$field.title}"><img class="img fl" src="{$field.picname}" alt="{$field.title}">
      <h3 class="tit" >{$field.title}</h3>
      <p>{$field.description}...</p>
      <span class="time">时间：{$field.pubdate}</span></a> {/yycms:arclist} </div>
  </div>
  <!--推荐新闻结束--> 
</section>
<!--文章内容结束--> 
{include file="footer_m"/}
</body>
</html>