<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Cache-Control" content="no-transform" />
<title>{yycms:field.title/}_{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{yycms:field.keywords/}" />
<meta name="description" content="{yycms:field.description function='html2text(@me)'/}" />
<link href="static/css/css.css" type="text/css" rel="stylesheet" />
</head>
<body>
{yycms:include filename='header_m.htm'/}
<div class="advert1"> <img src="static/images/20170210163909498.jpg" width="100%"> </div>
<div class="content">
<div class="nav"> 
	{yycms:channel type='son'}
		<a href='list.php?tid=[field:id/]'>[field:typename/]</a> 
	{/yycms:channel}
</div>
<div class="clear"></div>
<div class="title">{yycms:field.title/}</div>

<div class="project-sign xq">
  <div class="project-sign-img"> <img src="{yycms:field.picname/}" width="100%"> </div>
  <div class="project-sign-text">
    <div class="project-sign-text-name"> {yycms:field.title/}<br>
      <span> {yycms:field.description/}...</span> </div>
    <div class="project-sign-1"> 
	  <a href="javascript:volid(0);">
      <div class="project-sign-11">
		<script src='{yycms:field name='phpurl'/}/count.php?view=yes&aid={yycms:field name='id'/}&mid={yycms:field name='mid'/}'type='text/javascript' language='javascrip' ></script>人报名 </div>
      </a> <a href="{yycms:global.cfg_kfurl/}">
      <div class="project-sign-12">在线咨询 </div>
      </a> </div>
  </div>
</div>

<div class="project-detali ">
  <div class="project-menu">
    <ul>
      <a href="#m1">
      <li>
        <div class="project-menu1"> 项目简介 </div>
      </li>
      </a> <a href="#m2">
      <li>
        <div class="project-menu1"> 学员作品 </div>
      </li>
      </a> <a href="#m3">
      <li>
        <div class="project-menu1"> 培训费用 </div>
      </li>
      </a> <a href="#m4">
      <li>
        <div class="project-menu1"> 报名流程 </div>
      </li>
      </a>
    </ul>
  </div>
  <div class="clear"> </div>
  <div class="project-detali-1">
    <div class="project-detali-1-name" id="m1"> 项目介绍</div>
    <div class="project-detali-1-text">
		{yycms:field.project/}
    </div>
  </div>
  <div class="clear"> &nbsp;</div>
  <div class="project-detali-3">
    <div class="project-detali-2-name" id="m3"> 培训时间和费用</div>
    <div class="project-detali-1-text">
      {yycms:field.price/}
    </div>
  </div>
  <div class="project-detali-3">
    <div class="project-detali-2-name" id="m4"> 报名流程及问答</div>
    <div class="project-detali-1-text">
      {yycms:field.ask/}
    </div>
  </div>
  <br />
 
{yycms:include filename='footer_m.htm'/}
<div class="clear"></div>
</body>
</html>
