<div class="page_banner"> <img src="/skin/images/nybanner.jpg" /> </div>
<div class="m_banner mtbanner">
    <div class="mbanner" id="mbanner">
        <ul>
            <li><img src="/skin/images/b_m_1.jpg"></li>
            <li><img src="/skin/images/b_m_2.jpg"></li>
        </ul>
    </div>
    <script type="text/javascript">
            $(function () {
                $('#mbanner').roll({
                    banner: true,
                    btn: true
                });
            });
        </script>
</div>
