<div class="footer_d">
  <div class="footer_dW">
    <div class="footer_d_l">
      <div class="footer_d_m">公司简介</div>
      <div class="footer_d_line"></div>
      <div class="footer_d_ld">
        <table width="96%" border="0" cellpadding="0" cellspacing="0">
          <tbody>
          
          {yycms:channelartlist typeid='1,9,10,11,14,0'}
          <tr>
            <td height="30"><a href="{$field.typeurl}" style="color:#0;;font-weight:1"
										title="{$field.typename}">{$field.typename} </a></td>
          </tr>
          {/yycms:channelartlist}
          </tbody>
          
        </table>
      </div>
    </div>
    {yycms:channelartlist typeid='2,8,0'}
    <div class="footer_d_l">
      <div class="footer_d_m">{$field.typename}</div>
      <div class="footer_d_line"></div>
      <div class="footer_d_ld">
        <div class="footer_d_ld_a">
          <table width="200" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            
            {yycms:channel type='son' noself='yes'}
            <tr>
              <td style="height:30px;"><a href="{$field.typeurl}" title="{$field.typename}"
										style="line-height:30px;color:#999;"> {$field.typename} </a></td>
            </tr>
            {/yycms:channel}
            </tbody>
            
          </table>
        </div>
      </div>
    </div>
    {/yycms:channelartlist}
    <div class="footer_d_i">
      <div class="footer_d_m">联系我们</div>
      <div class="footer_d_line"></div>
      <div class="footer_d_id"> 电　话：{:syscfg('cfg_tel')}<br>
        手　机：{:syscfg('cfg_phone')}<br>
        联系人：{:syscfg('cfg_lxr')}<br>
      地址：{:syscfg('cfg_add')}<br>
        网　址：<a href="">www.dzhrxcl.cn</a> </div>
    </div>
    <div class="footer_d_r">
      <div class="footer_d_m">网站二维码</div>
      <div class="footer_d_line"></div>
      <div class="footer_d_rd">
        <div class="footer_d_rd_l"><img src="/skin/images/weixin.jpg"/> 手机网站</div>
        <div class="footer_d_rd_l footer_d_rd_r"><img src="/skin/images/weixin.jpg"/>微信</div>
      </div>
    </div>
  </div>
</div>
<div class="copy">
  <div class="copyW"> {:syscfg('cfg_powerby')}  ICP备案：<a href="https://beian.miit.gov.cn/#/Integrated/recordQuery" target="_blank"
			rel="nofollow">{:syscfg('cfg_beian')}</a> </div>
</div>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?578ff8d331d7406c29094003df7fd4cf";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>