<div class="Serviceprogram">
  <div class="bar">
    <h2> 选择盛世黔味餐饮有什么优势？</h2>
  </div>
  <div class="clear"></div>
  <div class="Serviceprogram-list">
    <ul>
      <li>
        <div class="Serviceprogram-text1">
          <div class="Serviceprogram-text-1">小吃培训【学前】</div>
          <div class="Serviceprogram-text-2"><img src="/static/images/case_22.png"/></div>
          <div class="Serviceprogram-text-3">电话咨询、现场试吃、现场<br/>
            参观、现场体验、选择科目，签订<br/>
            协议。</div>
        </div>
        <div class="Serviceprogram-icon"><img src="/static/images/case_04.png"/></div>
      </li>
      <li>
        <div class="Serviceprogram-text2">
          <div class="Serviceprogram-text-1">小吃培训【学中】</div>
          <div class="Serviceprogram-text-2"><img src="/static/images/case_24.png"/></div>
          <div class="Serviceprogram-text-3"><span style="font-size:14px;font-family:'微软雅黑',sans-serif;color:#333333">老师一对一教学，独立操作、实操实训，免费食宿</span></div>
        </div>
        <div class="Serviceprogram-icon"><img src="/static/images/case_13.png"/></div>
      </li>
      <li>
        <div class="Serviceprogram-text3">
          <div class="Serviceprogram-text-1">小吃培训【学后】</div>
          <div class="Serviceprogram-text-2"><img src="/static/images/case_26.png"/></div>
          <div class="Serviceprogram-text-3">
            <p><span style="font-family:'微软雅黑',sans-serif;color:#333333">免费复训、免费技术升级。</span></p>
          </div>
        </div>
        <div class="Serviceprogram-icon"><img src="/static/images/case_15.png"/></div>
      </li>
      <li>
        <div class="Serviceprogram-text4">
          <div class="Serviceprogram-text-1">开店指导【升级】</div>
          <div class="Serviceprogram-text-2"><img src="/static/images/case_28.png"/></div>
          <div class="Serviceprogram-text-3"><span style="font-size:14px;font-family:'微软雅黑',sans-serif;color:#333333">选址诀窍、店员培训，<span style="color:#333333;font-family:微软雅黑, sans-serif;font-size:14px;">餐饮企业经营管理培训，</span>盛世黔味名厨学员终生免费！</span></div>
        </div>
        <div class="Serviceprogram-icon"><img src="/static/images/case_06.png"/></div>
      </li>
      <li class="servi1">
        <div class="Serviceprogram-text5">
          <div class="Serviceprogram-text-1">开店指导【帮扶】</div>
          <div class="Serviceprogram-text-2"><img src="/static/images/case_30.png"/></div>
          <div class="Serviceprogram-text-3"><span style="font-size:14px;font-family:'微软雅黑',sans-serif;color:#333333">免费品牌授权、开店策划、菜谱设计、广告制作等。</span></div>
        </div>
        <div class="Serviceprogram-icon"><img src="/static/images/case_05.png"/></div>
      </li>
    </ul>
  </div>
</div>
<div class="clear"> </div>
<div class="zc-message">
  <div class="zc-message-name">《全程实操教学+自家独门秘方》</div>
  <div class="zc-message-text">
    <div class="Venture_lf">
      <ul>
        小吃开店 <span>养家糊口</span>小投入<span>年赚百万</span>不是梦！ <em>立即行动是当老板的必备魄力</em>
      </ul>
    </div>
    <div class="zc-message-text2">
      <div class="zc-message-text21">
        <div class="zc-message-sign"> 试吃预约 </div>
        <dl>
          <dd>免费试吃，先品尝，味道满意再报名！</dd>
          <a href="{dede:global.cfg_kfurl/}" class="more" target="_blank">免费试吃预约 >></a>
        </dl>
      </div>
    </div>
    <div class="Venture_ri">
      <dl>
        <dt>1.到盛世黔味学小吃：</dt>
        <dd>正宗独家小吃技术配方+全程实操一对一教学……</dd>
        <dt>2.餐饮开店：</dt>
        <dd>立店选址诀窍、菜谱、店面结构……</dd>
        <dt>3.后期服务：</dt>
        <dd>技术升级、店员培训、促销策划……</dd>
        <a href="{dede:global.cfg_kfurl/}" class="more" target="_blank">在线咨询不花钱 >></a>
      </dl>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="advert1"> <img src="/static/images/20170215180740670.jpg" width="100%"> </div>
<div class="firLinkBar mt20">
  <div class="firLinkLayout"> <span class="fz16 gray-6 pr10 YaHei">友情链接</span> </div>
</div>
<div class="clear"></div>
<div class="zc-menu2">
  <ul>
    <li> <a href="/"> 首页 </a> </li>
    {dede:channel type='top'}
	<li><a href='[field:typeurl/]'>[field:typename/]</a> </li>
	{/dede:channel}
  </ul>
</div>
<div class="zc-footer">
  <div class="zc-footer-text">
    <div class="zc-footer-text1"> 贵{:syscfg('cfg_webname')} <br/>
      公司地址：{dede:global.cfg_address/}  &#160; &#160; &#160; <br/>
      网址：{:syscfg('cfg_basehost')} &#160; &#160; &#160;E-mali：{dede:global.cfg_email/}<br/>
      电话：{dede:global.cfg_tel/}&#160;&#160; {dede:global.cfg_phone/} <br/>
      {:syscfg('cfg_powerby')}  {:syscfg('cfg_beian')} <br/>
      <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=52011502000442" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="/static/images/gongan.png" style="float:left;"/>
      <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">{dede:global.cfg_gongan/}</p>
      </a><br/>
    </div>
    <div class="QRcode">
      <ul>
        <li> <img src="/static/images/aboutus_03.png" width="260">
          <p>专注培养餐饮精英人才</p>
        </li>
        <li> <img src="/static/images/20160428194514706.png" width="100">
          <p>扫一扫微信咨询</p>
        </li>
      </ul>
    </div>
  </div>
  <div class="clear"></div>
  <div class="zc-liar">
    <ul>
      <li> <img src="/static/images/aboutus_09.png"> </li>
      <li> <img src="/static/images/aboutus_35.png"> </li>
      <li> <img src="/static/images/aboutus_22.png"> </li>
    </ul>
  </div>
</div>
<script type="text/javascript" src="/static/js/jquery.v1.8.3-min.js"></script> 
<script type="text/javascript" src="/static/js/jquery.bxslider.min.js"></script> 
<script type="text/javascript" src="/static/js/jquery.superslide.2.1.1.js"></script> 
<script type="text/javascript" src="/static/js/public.js"></script> 
<script>

// top

$(document).ready(function(){

	//首先将#back-to-top隐藏

	$("#back-to-top").hide();

	//当滚动条的位置处于距顶部100像素以下时，跳转链接出现，否则消失

	$(function () {

		$(window).scroll(function(){

		if ($(window).scrollTop()>100){

		$("#back-to-top").fadeIn(1500);

		}

		else

		{

		$("#back-to-top").fadeOut(1500);

		}

		});

		//当点击跳转链接后，回到页面顶部位置

		$("#back-to-top").click(function(){

		$('body,html').animate({scrollTop:0},1000);

		return false;

		});

		});

		});

		//pagnation

			var pagnation=$("#pagnation");

	$(document).on("keydown",function(event){

		switch(event.keyCode){

			 case 37 : window.location.href = pagnation.find(".page-prev").attr("href");break;

			 case 39 : window.location.href = pagnation.find(".page-next").attr("href");break

		}

	});

$(function() {

    if (window.PIE) {

        $('.rounded').each(function() {

            PIE.attach(this);

        });

    }

});

	//首页 轮播	

	$(function(){

	if($('#index-bxslider').length>0){

		$('#index-bxslider').bxSlider({

			auto: true,

			pagerCustom: '#bx-pager',

			nextText: ' ',

			prevText: ' ',

			speed: 600,

			pause: 5000

		});

	};

});

</script> 
<script type="text/javascript">

$(document).ready(function()

{

$(".showdetail").mouseover(function(){

$(this).find(".comewidthme").show(); 



});

$(".showdetail").mouseout(function(){

$(this).find(".comewidthme").hide(); 



});

});

</script> 