<div id="head_box">
  <div id="head">
    <div id="head_left">{:syscfg('cfg_gg')}</div>
    <div id="head_right"><a href="/">返回首页</a> | {yycms:type typeid='2'}<a
        href="{$field.typeurl}">{$field.typename}</a> | {/yycms:type}{yycms:type typeid='14'}<a
        href="{$field.typeurl}">{$field.typename}</a> | {/yycms:type}{yycms:type typeid='11'}<a
        href="{$field.typeurl}">{$field.typename}</a>{/yycms:type}</div>
  </div>
</div>
<!--top-->
<div id="top">
  <div id="top_logo"><a href="/"><img src="/skin/images/logo.jpg" alt="{:syscfg('cfg_webname')}"></a> </div>
  <div id="top_name">
    <div id="top_name1">德州宏瑞土工材料有限公司</div>
    <div id="top_name2">Dezhou Hongrui geotechnical materials Co., Ltd</div>
  </div>
  <!--<div id="top_img"></div>
  <div id="top_gg">
    <div id="top_gg1"><span>土工膜</span> 土工布</div>
    <div id="top_gg1"><span>复合土工膜</span> 膨润土防水毯</div>
  </div>-->
  <div id="tel"> <span>客户统一服务热线</span>
    <p>{:syscfg('cfg_tel')}<br>
    </p>
  </div>
</div>
<!--导航 nav--> 
<script src="/skin/js/2.2.4jquery.js"></script>
<div id="nav">
  <div class="nav_o"></div>
  <div id="navW">
    <ul>
      <input type="hidden" value="{$field.id}" id="tid" />
      <li id="t0"><strong></strong><a href="/">网站首页</a><span></span></li>
      <div class="nav_line"></div>
      {yycms:channel type='top' row='8' currentstyle="active"}
      <li id="t{$field.id}"><strong></strong><a
          href="{$field.typeurl}">{$field.typename}</a><span></span></li>
      {/yycms:channel}
    </ul>
  </div>
  <div class="nav_u"></div>
</div>
<script>
    $(function(){
        var tid=$("#tid").val();
        if(tid==""){
            $("#t0").addClass("a_nav");
        }else{
            $("#t"+tid).addClass("a_nav");
        }
    })
</script><script type="text/javascript">
  // JavaScript Document
  var curUrl = location.pathname.substr(1);
  if (curUrl.indexOf("company") > -1) {
    document.getElementById('aa1').className = " a_nav";
  };
  if (curUrl.indexOf("products") > -1) {
    document.getElementById('aa2').className = " a_nav";
  };
  if (curUrl.indexOf("132964") > -1) {
    document.getElementById('aa3').className = " a_nav";
  };
  if (curUrl.indexOf("146470") > -1) {
    document.getElementById('aa4').className = " a_nav";
  };
  if (curUrl.indexOf("132981") > -1) {
    document.getElementById('aa5').className = " a_nav";
  };
  if (curUrl.indexOf("132983") > -1) {
    document.getElementById('aa6').className = " a_nav";
  };
  if (curUrl.indexOf("feedback") > -1) {
    document.getElementById('aa7').className = " a_nav";
  };
  if (curUrl.indexOf("132982") > -1) {
    document.getElementById('aa8').className = " a_nav";
  };
</script>