<div class="zc-header">
  <div class="zc-header1">
    <div class="header-le"> 贵州盛世黔味餐饮技术培训中心，贵州专业的小吃培训学校，专注餐饮行业技术人才培训！【全国招生热线0851-84828020】 </div>
  </div>
</div>
<div class="zc-logo">
  <div class="zc-logo1"> <img src="/static/images/aboutus_03.png"> </div>
  <div class="zc-logo2"> 专注餐饮技术培训<span>全年招生</span><br/>
    <span>选热门项目</span>学二送一 </div>
  <div class="zc-tel">
    <div class="zc-tel-name"> 全国招<br/>
      生热线 </div>
    <div class="tel-number">
      <ul>
        <li> {dede:global.cfg_tel/} {dede:global.cfg_phone/}</li>
      </ul>
    </div>
  </div>
</div>
<div class="zc-menu">
  <div class="zc-menu1 nav jackass">
    <ul>
      <li> <a href="/">首页</a> </li>
	  
      <li class="showdetail"> <a href="/pxxm/">培训项目</a>
        <div style="display: none" class="menuul project-list comewidthme">
          <div>
			{dede:channelartlist typeid="11,0"}
            <div>
              <ul>
                <li class="fli"> {dede:field name='typename'/}</li>
				{dede:arclist channelid=10 row=6 titlelen=50 orderby='pubdate'}

				<li><a href="[field:arcurl/]">[field:title/]</a></li>
				{/dede:arclist}
              </ul>
            </div>
            {/dede:channelartlist}
			{dede:channelartlist typeid="12,0"}
            <div>
              <ul>
                <li class="fli"> {dede:field name='typename'/}</li>
				{dede:arclist channelid=10 row=6 titlelen=50 orderby='pubdate'}

				<li><a href="[field:arcurl/]">[field:title/]</a></li>
				{/dede:arclist}
              </ul>
            </div>
            {/dede:channelartlist}
			{dede:channelartlist typeid="13,0"}
            <div>
              <ul>
                <li class="fli"> {dede:field name='typename'/}</li>
				{dede:arclist channelid=10 row=6 titlelen=50 orderby='pubdate'}

				<li><a href="[field:arcurl/]">[field:title/]</a></li>
				{/dede:arclist}
              </ul>
            </div>
            {/dede:channelartlist}
			{dede:channelartlist typeid="14,0"}
            <div>
              <ul>
                <li class="fli"> {dede:field name='typename'/}</li>
				{dede:arclist channelid=10 row=6 titlelen=50 orderby='pubdate'}

				<li><a href="[field:arcurl/]">[field:title/]</a></li>
				{/dede:arclist}
              </ul>
            </div>
            {/dede:channelartlist}
			{dede:channelartlist typeid="15,0"}
            <div>
              <ul>
                <li class="fli"> {dede:field name='typename'/}</li>
				{dede:arclist channelid=10 row=6 titlelen=50 orderby='pubdate'}

				<li><a href="[field:arcurl/]">[field:title/]</a></li>
				{/dede:arclist}
              </ul>
            </div>
            {/dede:channelartlist}
			{dede:channelartlist typeid="16,0"}
            <div>
              <ul>
                <li class="fli"> {dede:field name='typename'/}</li>
				{dede:arclist channelid=10 row=6 titlelen=50 orderby='pubdate'}

				<li><a href="[field:arcurl/]">[field:title/]</a></li>
				{/dede:arclist}
              </ul>
            </div>
            {/dede:channelartlist}
		   
          </div>
          <div class="by"> 学餐饮技术&#160;就到盛世黔味餐饮 </div>
        </div>
      </li>
	 
	  {dede:channelartlist typeid="top" notypeid='1'}
      <li class="showdetail"> <a href="{dede:field name="typeurl"/}">{dede:field name="typename"/}</a>
        <ul style="display: none" class="menuul comewidthme">
          <div class="le">
            {dede:channel type="son"}
            <li><a href="[field:typeurl/]">[field:typename/]</a></li>
			 {/dede:channel}
          </div>
        </ul>
      </li>
	{/dede:channelartlist}

    </ul>
  </div>
</div>
<div class="special-pro">
  <div class="spe-pro"> 热门培训项目：
  {dede:arclist row=10 orderby='pubdate' channelid=10 row=5}
   <a href="[field:arcurl/]">[field:title/]</a>
  {/dede:arclist}
  </div>
  <div class="spe-img"> <img src="/static/images/case_03.png"> </div>
</div>