<!--顶部开始-->

<header id="top_main" class="header">
  <div id="top" class="clearfix"><a class="logo" href="{dede:global.cfg_cmspath/}/m" title="{dede:global.cfg_webname/}"> <img src="{dede:global.cfg_cmspath/}/m/skin/images/logo.png" alt="{dede:global.cfg_webname/}"></a>
    <div class="topsearch" id="topsearch"><span class="btn_search icon"></span></div>
    <!--搜索栏开始-->
    <div class="tsearch hidden" id="tsearch">
      <form role="search" action="/plus/search.php">
        <input type="hidden" name="mobile" value="1" />
        <input type="hidden" name="kwtype" value="0" />
        <input class="txt" type="text" name="q" value="请输入关键字" onFocus="if(this.value==defaultValue)this.value=''" onBlur="if(this.value=='')this.value=defaultValue">
        <input class="btn icon" type="submit" value="" name="">
      </form>
    </div>
    <!--搜索栏结束-->
    <div class="btn_close_main hidden"><a class="btn_close icon"></a></div>
    <div id="nav" class="cur">
      <p class="nav icon"></p>
    </div>
  </div>
</header>
<!--顶部结束--> 

<!--右侧导航开始-->
<nav class="subNav trans" id="subNav">
  <div class="subNavCon trans">
    <ul class="clearfix">
      <li><a href="{dede:global.cfg_cmspath/}/m"  title="网站首页">网站首页</a></li>
      {dede:channel type='top' currentstyle="
      <li><a href='list.php?tid=~id~'>~typename~</a></li>
      "}
      <li><a href="list.php?tid=[field:id/]" title="[field:typename/]">[field:typename/]</a></li>
      {/dede:channel}
    </ul>
  </div>
</nav>
<!--右侧导航结束--> 