

 {yycms:channelartlist typeid = "1,2,4"}
        <li>
          <dl>
            <dt><a href="{$field.typeurl}">{$field.typename}</a></dt>
            {yycms:channel type='son'}
            <dd><a href="{$field.typeurl}">{$field.typename}</a></dd>
            {/yycms:channel}
          </dl>
        </li>
		{yycms:arclist row=10 orderby='pubdate'}

		<li><a href="">{$field.arcurl} : {$field.title}</a></li>

		{/yycms:arclist}
       {/yycms:channelartlist} 
	   
	    {yycms:channelartlist typeid = "1,2,4"}
        <li>
          <dl>
            <dt><a href="{$field.typeurl}">{$field.typename}</a></dt>
            {yycms:channel type='son'}
            <dd><a href="{$field.typeurl}">{$field.typename}</a></dd>
            {/yycms:channel}
          </dl>
        </li>
		{yycms:arclist row=10 orderby='pubdate'}

		<li><a href="">{$field.arcurl} : {$field.title}</a></li>

		{/yycms:arclist}
       {/yycms:channelartlist} 
	   
	    
  {yycms:arclist titlelen="80" orderby ='pubdate' typeid='37'}
      <li><a href="">{$field.arcurl} : {$field.title}</a></li>
      {/yycms:arclist}