<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<title>{$yy.field.title}_{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{$yy.field.description}" />
<link href="/m/skin/css/style.css" rel="stylesheet">
<link href="/m/skin/css/common.css" rel="stylesheet">
<script src="/m/skin/js/autofontsize.min.js"></script>
<script src="/m/skin/js/jquery.js"></script>
<script src="/m/skin/js/clipboard.min.js"></script>
<script src="/m/skin/js/common.js"></script>
</head>
<body>
{include file="header_m"/} 
<!--位置开始--> 
{include file="left_m"/} 
<!--位置结束--> 
<!--单页内容开始-->
<section class="content showInfo">
  <div class="contxt"> {$yy.field.content|raw} </div>
</section>
<!--单页内容结束--> 
{include file="footer_m"/}
</body>
</html>