<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>{$yy.field.title}_{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{$yy.field.description}" />
<script type="text/javascript" src="/skin/js/jquery-1.12.4.min.js"></script>
<link rel="stylesheet" href="/skin/css/style.css">
<link rel="stylesheet" href="/skin/css/font-awesome.min.css">
<script type="text/javascript" src="/skin/js/js.js"></script>
<script type="text/javascript" src="/skin/js/superslide.js"></script>
</head>
<body>
{include file="head"/}
{include file="banner"/}
<div class="container">
    <div class="fuwu1 clearfix">
        <div class="center">
            <div class="wrap clearfix">
                <h3 class="tit450">服务支持</h3>
                <div class="fl">
                    <div class="text"> <strong>全国<em>500</em>多个服务中心</strong> <strong><em>1700</em> 余名服务人员</strong>
                        <ul>
                            <li> <img src="/skin/images/f1.png" alt="图片名">
                                <p> <span>5年行业领先</span> <i>服务水平和标准领先健身器材行业5年以上</i> </p>
                            </li>
                            <li> <img src="/skin/images/f2.png" alt="图片名">
                                <p> <span>零距离服务</span> <i>通过信息化的技术服务系统，零距离服务客户，远程服务几乎随叫随到</i> </p>
                            </li>
                            <li> <img src="/skin/images/f3.png" alt="图片名">
                                <p> <span>半天上门</span> <i>2017年全国平均售后上门时长为13.3小时，在2018，我们提出12小时内上门服务的新标准</i> </p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="fr"> <span>服务是我们的核心竞争力</span>
                    <p>健身器材公司目前在全国拥有50多家实体连锁门店，营业面积超过10000平方米，并在全国省会和多个重点城市设有大型的仓储物流中心，售后服务网点覆盖全国673个城市，全国合作物流网点超过2630个。</p>
                    <p>依托这庞大的服务体系，我们开创了全新的服务时代，树立了行业的服务标杆。服务，是我们自立于健身器材行业的核心竞争力。</p>
                </div>
            </div>
        </div>
    </div>
    <div class="fuwu2">
        <div class="center">
            <div class="wrap clearfix">
                <div class="fl">
                    <h3>服务标准和服务网点</h3>
                    <span>健身房团购及户外器材、场地建设用户</span>
                    <p>广州、深圳、北京、天津、上海、武汉、成都、贵州、云南等地区可享受上门进行免费场地测量、免费提供多样化的健身房专业规划配置设计和报价整体解决方案的专业化售前服务，可享受2小时叫修响应、48小时上门维修解决问题以及预约上门培训的专业化售后服务；其他地区可享受免费提供多样化的专业规划配置设计和报价整体解决方案的专业化售前服务，可享受2小时叫修响应、72+小时上门维修解决问题以及预约上门培训的专业化售后服务。</p>
                    <span>家庭用户</span>
                    <p>广州、深圳、北京、天津、上海、武汉、成都、贵州、云南、辽宁、江苏、浙江等地区可享受货到付款的贴心售前服务，可享受免费送货到家、上门安装，2小时叫修响应、48小时上门维修解决问题的专业化售后服务；其它大部们地区可享受免费送货到家、上门安装，2小时叫修响应、72+小时上门维修解决问题的专业化售后服务。</p>
                </div>
                <div class="fr"> <img src="/skin/images/f4.png" alt="图片名"> </div>
            </div>
        </div>
    </div>
    <div class="fuwu3">
        <div class="center">
            <div class="wrap clearfix">
                <div class="fl"> <span>服务团队</span> <img src="/skin/images/f5.jpg" alt="图片名"> </div>
                <div class="fr"> <span>全国成品和备件仓库</span>
                    <div class="pic clearfix"> <img src="/skin/images/f6.jpg" alt="图片名"> <img src="/skin/images/f7.jpg" alt="图片名"> <img src="/skin/images/f8.jpg" alt="图片名"> <img src="/skin/images/f9.jpg" alt="图片名"> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fuwu4">
        <div class="center">
            <div class="contact1">
                <ul>
                    <li> <img src="/skin/images/c1.png" alt="图片名"> <span>地址</span>
                        <p>{:syscfg('cfg_add')}</p>
                    </li>
                    <li> <img src="/skin/images/c2.png" alt="图片名"> <span>电话</span>
                        <p>{:syscfg('cfg_tel')}<br/>
                            {:syscfg('cfg_phone')}</p>
                    </li>
                    <li> <img src="/skin/images/c3.png" alt="图片名"> <span>邮箱</span>
                        <p>{:syscfg('cfg_email')}</p>
                    </li>
                    <li> <img src="/skin/images/c4.png" alt="图片名"> <span>网址</span>
                        <p>{:syscfg('cfg_basehost')}</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="fuwu5"></div>
</div>
{include file="footer"/}
</body>
</html>
