<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{yycms:field.title/}_{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{yycms:field name='keywords'/}" />
<meta name="description" content="{yycms:field name='description' function='html2text(@me)'/}" />
<script type="text/javascript">if(window.location.toString().indexOf('pref=padindex') != -1){}else{if(/AppleWebKit.*Mobile/i.test(navigator.userAgent) || (/MIDP|SymbianOS|NOKIA|SAMSUNG|LG|NEC|TCL|Alcatel|BIRD|DBTEL|Dopod|PHILIPS|HAIER|LENOVO|MOT-|Nokia|SonyEricsson|SIE-|Amoi|ZTE/.test(navigator.userAgent))){if(window.location.href.indexOf("?mobile")<0){try{if(/Android|Windows Phone|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)){window.location.href="/m/list.php?tid={yycms:field.id/}";}else if(/iPad/i.test(navigator.userAgent)){}else{}}catch(e){}}}}</script>
<link rel="stylesheet" href="/static/css/style-3.css" />
</head>
<body>
{yycms:include filename='head.htm'/}
<div class="zc-banner1"> <img src="/static/images/20170215180740670.jpg" width="100%"> </div>
<div class="zc-aboutus">
  <div class="location"> 您现在的位置：{yycms:field name='position'/}</div>
  <div class="zc-aboutus1">
  {yycms:include filename='left.htm'/}
  <div class="aboutus-right">
    <div class="aboutus-name"> {yycms:field name="typename"/} </div>
    <div class="aboutus-detail">
      <div class="aboutus-text">
        <h3>{yycms:field.title/}</h3>
        <div class="aboutus-text">
          {yycms:field.content/}
        </div>
      </div>
      
    </div>
  </div>
</div>
</div>
<div class="clear"></div>
{yycms:include filename='tab.htm'/}
{yycms:include filename='footer.htm'/}
</body>
</html>