<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
<title>{$field.typename}_{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$field.keywords}" />
<meta name="description" content="{$field.name='description' }" />
<script type="text/javascript" src="/skin/js/jquery-1.12.4.min.js"></script>
<link rel="stylesheet" href="/skin/css/style.css">
<link rel="stylesheet" href="/skin/css/font-awesome.min.css">
<script type="text/javascript" src="/skin/js/js.js"></script>
<script type="text/javascript" src="/skin/js/superslide.js"></script>
</head>
<body>
{include file="head"/}
{include file="banner"/}
<div class="container">
    {include file="position2"/}
    <div class="center">
        <div class="wrap clearfix">
            {include file="left2"/}
            <div class="main_r fr">
                <div class="pro_list">
                    <ul>
					    {yycms:list pagesize=6}
                        <li>
                            <div class="pic"> <a href="{$field.arcurl}">
                                <div class="imgauto"> <img src="{$field.litpic}" alt="{$field.fulltitle}" /> </div>
                                <span>{$field.title}</span> </a> </div>
                            <div class="text"> <a href="{$field.arcurl}"> <img src="/skin/images/probg.png" alt="{$field.fulltitle}"> </a> </div>
                        </li>
						{/yycms:list}
                    </ul>
                </div>
                <div class="pages">
                    <div class="pagination"><ul>{yycms:pagelist listitem="index,end,pre,next,pageno" listsize="5"/}</ul></div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="footer"/}
</body>
</html>
