<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="format-detection" content="telephone=no, email=no" />
<meta content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0,user-scalable=no" name="viewport" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<meta http-equiv="Cache-Control" content="no-transform" />
<title>{dede:field.title/}_{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{dede:field name='keywords'/}" />
<meta name="description" content="{dede:field name='description' function='html2text(@me)'/}" />
<link href="static/css/css.css" type="text/css" rel="stylesheet" />
</head>
<body>
{dede:include filename='header_m.htm'/}
<div class="advert1"> <img src="static/images/20170210163909498.jpg" width="100%"> </div>
<div class="content">
  <div class="nav"> 
	  {dede:channel type='son'}
		<a href='list.php?tid=[field:id/]'>[field:typename/]</a> 
	{/dede:channel}
	</div>
  <div class="clear"></div>
  <div class="title">{dede:field name="typename"/}</div>
  <div class="news-text">
    <ul>
     {dede:list row='12' pagesize='12' titlelen='45'}
      <li> <b><img src="[field:picname/]" width="100%"></b><span><strong><a href="view.php?aid=[field:id/]">[field:title/]</a></strong>
        <p style=" text-align:right; font-size:12px; color:#999">[field:click/]人浏览&#160;&#160;[field:pubdate function='strftime("%Y-%m-%d",@me)'/]</p>
        </span> </li>
		{/dede:list}
    </ul>
    <div class="clear"></div>
  </div>
  <div class="numbox">
    <li>首页</li>
    <li class="thisclass">1</li>
    <li><a href='list_2.html'>2</a></li>
    <li><a href='list_3.html'>3</a></li>
    <li><a href='list_4.html'>4</a></li>
    <li><a href='list_5.html'>5</a></li>
    <li><a href='list_6.html'>6</a></li>
    <li><a href='list_7.html'>7</a></li>
    <li><a href='list_2.html'>下一页</a></li>
  </div>
  {dede:include filename='footer_m.htm'/}
</body>
</html>
