<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<title>{$yy.field.title}_{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{$yy.field.description}" />
<link href="/m/skin/css/style.css" rel="stylesheet">
<link href="/m/skin/css/common.css" rel="stylesheet">
<script src="/m/skin/js/autoFontsize.min.js"></script>
<script src="/m/skin/js/jquery.js"></script>
<script src="/m/skin/js/clipboard.min.js"></script>
<script src="/m/skin/js/common.js"></script>
</head>
<body>
{include file="header_m"/} 
<!--位置开始--> 
{include file="left_m"/} 
<!--位置结束--> 
<!--产品列表开始-->
<section class="content caselist">
  <ul class="list-loop gridlist clearfix">
    {yycms:list pagesize ='6'}
    <li class="loop"><a href="{$field.arcurl}" title="{$field.title}">
      <figure><img src="{$field.picname}" alt="{$field.title}"></figure>
      <h3 >{$field.title}</h3>
      </a></li>
    {/yycms:list}
  </ul>
</section>
<div class="pglist"> {yycms:pagelist listitem="index,end,pre,next,pageno" listsize="1"/} </div>
<!--产品列表结束--> 
{include file="footer_m"/}
</body>
</html>