<div class="curson">
        <div class="center">
            <p> {$info.position|raw} </p>
            <span>{$info.typename}</span> </div>
    </div>
    <div class="m_promenu">
        <div class="mpromenu clearfix">
		    {yycms:channelartlist typeid="2" type=son}
            <h3 class=""><a href="{$info.typeurl}">{$info.typename}</a><em>>></em></h3>
            <ul>
			    {yycms:channel type="son" nosefl=yes}
                <li><a href="{$field.typeurl}">{$field.typename}</a></li>
				{/yycms:channel}
            </ul>
			{/yycms:channelartlist}
        </div>
        <script type="text/javascript">
                jQuery(".mpromenu").slide({titCell:"h3 em", targetCell:"ul",defaultIndex:1,effect:"slideDown",delayTime:300,trigger:"click",defaultPlay:false});
            </script>
        <div class="m_prosearch">
            <div class="fl_search">
                <div class="search">
                    <div class="text clearfix">
                        <div class="fr">
                            <form action="/plus/search.php" method="post">
                                <input class="btn1" type="text" name="q" placeholder="请输入关键词">
                                <input class="btn2" type="submit" name="" value="搜索">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>