<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title> 网站地图_{:syscfg('cfg_webname')}</title>
   <meta name="keywords" content="{:syscfg('cfg_keywords')}" />
   <meta name="description" content="{:syscfg('cfg_description')}" />
       <style>
           .content{max-width: 1200px;margin: 0 auto}
       </style>
</head>
 <body>
<div class='content'>    
{yycms:channelartlist typeid='top'}
<div class="nav">
  <div class="child">
   <a href="{$field.typeurl}"> <h3 class="iconbef">{$field.typename}</h3></a>
  </div>

  <nav class="menu clearfix">
   {yycms:channel type='son'  currentstyle="active"} <a href="{$field.typeurl}" title="{$field.typename}">{$field.typename}</a> {/yycms:channel} 
  </nav>
  <ul class="gridlist clearfix">
    {yycms:arclist row='15' titlelen='50' orderby='pubdate'}
    <li class="item"><a href="{$field.arcurl}" title="{$field.title}">
      <h3>{$field.title} / {$field.pubdate|date='Y/m/d'}</h3>
      </a></li>
    {/yycms:arclist}
  </ul>
</div>
{/yycms:channelartlist} 
</div>
 </body>
</html>