<section id="lib_Tab1">
  <div class="lib_Menubox">
    <ul>
	{dede:channelartlist typeid="2" row=3}
      <li id="one{dede:global name=itemindex runphp="yes"}@me=@me;{/dede:global}" onClick="setTab('one',{dede:global name=itemindex runphp="yes"}@me=@me;{/dede:global},2)" class="{dede:global.itemindex runphp='yes'}
if(@me ==1){
@me = 'hover';
}
else{
@me = '';
}
{/dede:global.itemindex}">{dede:field name="typename"/}</li>
	  {/dede:channelartlist}
    
    </ul>
  </div>
  <div class="lib_Contentbox lib_tabborder">
 
	{dede:channelartlist typeid="2" row=3}
    <div id="con_one_{dede:global name=itemindex runphp='yes'}@me=@me;{/dede:global}" style="display:{dede:global.itemindex runphp='yes'}
if(@me ==1){
@me = '';
}
else{
@me = 'none';
}
{/dede:global.itemindex}
	">
      <div class="picMarquee-left">
        <div class="bd">
          <ul class="picList">
		  {dede:arclist channelid=1 row=15 orderby='pubdate'}
            <li><a href="[field:arcurl/]"><img src="[field:picname/]" width="188" height="139" alt="" /><span>[field:title/]</span></a></li>
           {/dede:arclist}
          </ul>
        </div>
      </div>
    </div>
	{/dede:channelartlist}
  </div>
</section>