*{
    font-size:14px;
}
body{background: #fff}
.layui-flex{
    display: flex;
    align-items: center;
}
.layui-input, .layui-select, .layui-textarea{
    height: 32px;line-height: 32px;
}
.layui-submit{
    position: fixed;bottom: 0px;left:0;width:100%;background: #f5f5f5;z-index:9999;padding: 8px;
}
.layui-submit-btn{width:65px;margin: 0 auto}
.iframe{
    overflow-x: hidden; overflow-y: scroll;
}
layui-form {padding-bottom: 50px;}
.layui-input, .layui-select, .layui-textarea{
    background: #f9f9f9
}
.layui-form{
   margin:15px 0;
   padding-right: 10px;
}
.layui-tab-form{margin-top: 0;margin-bottom: 25px;padding: 0;padding-left:5px;padding-right: 10px;}
.layui-upload-list li {position: relative;margin-right: 15px;border: 2px solid #fff}
.layui-upload-list li.thisClass{border: 2px solid #009688 }
.layui-upload-list li i{background:none;cursor:pointer;position: absolute;top:0;right:0}
.layui-upload-list li img{float: left;height: 120px;}
.layui-table, .layui-table-view{margin-top: 5px;}