<IfModule mod_rewrite.c>
	 RewriteEngine on
	 RewriteBase /
	 RewriteCond %{REQUEST_FILENAME} !-d
	 RewriteCond %{REQUEST_FILENAME} !-f
	 RewriteRule ^list/(.*)$ index/template/list/$1 [QSA,PT,L]
	 RewriteRule ^view/(.*)$ index/template/view/$1 [QSA,PT,L]
	 RewriteRule ^(.*)$ index.php?s=/$1 [QSA,PT,L]
</IfModule>