<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
   <title>{$yy.field.title}-{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{$yy.field.description}" />
    <link rel="stylesheet" href="static/css/iconfont.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="stylesheet" href="static/css/ain.css">
    <script src="static/js/jquery-1.11.3.min.js"></script>
</head>

<body>
    <div class="mob-wrap">
    <!-- 头部 -->
	{include file="header_m"/}      
	<!-- banner -->
	  <!-- 内页banner -->
    
    <div class="page-banner"></div>
    

    <!-- 主体内容 -->

    <div class="page-content">
        
	<div class="product-detail">
    <h1 class="detail-title">{$yy.field.title}</h1>
    <!--  详细内容 -->
    <div class="detail-wrap">
        <div class="detail-info">
            <span class="view"><i class="iconfont icon-view"></i><script src='{$field.phpurl'/}/count.php?view=yes&aid={dede:field name='id'/}&mid={dede:field name='mid}'type='text/javascript' language='javascrip' ></script></span>
            <span class="date"><i class="iconfont icon-date"></i>{$yy.field.pubdate}</span>
        </div>
        <div class="detail-content">
           {$yy.field.body}
		</div>
    </div>
    <!-- 上一篇下一篇 -->
    <div class="prev-next"><div class="previous">{yycms:prenext get='pre'/}</div><div class="next">{yycms:prenext get='next'/}</div></div>
</div>

    </div>
{include file="footer_m"/}
</body>
</html>