<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{$yy.field.title}-{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{$yy.field.description}" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/owl.carousel.min.css">
<link rel="stylesheet" href="/static/css/app.css">
<link rel="stylesheet" href="/static/css/ain.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/app.js"></script>
<meta name="baidu-site-verification" content="code-ggotqzrsYO" />
</head>
<body>
{include file="head"/}
<div class="page-banner"> <img src="/static/images/20201208150652_942.jpg" alt="{$field.typename}"> </div>
<div class="page-position">
  <div class="container"> 您当前的位置 ：{$field.position}
  </div>
</div>
<div class="page-wrap">
  <div class="container">
    {include file="left"/}
    <div class="page-wrap-right">
      <div class="xypg-right-content"> 
        
        <!-- 新闻详细 -->
        <div class="xypg-news-detail">
          <h1 class="xypg-detail-title">{$yy.field.title}</h1>
          <div class="xypg-detail-info-bar">
            <div class="detail-info-time"><i class="icon-font icon-shijian"></i>{$yy.field.pubdate}</div>
            <div class="detail-info-numbers"><i class="icon-font icon-chakan"></i><script src='{$field.phpurl'/}/count.php?view=yes&aid={dede:field name='id'/}&mid={dede:field name='mid}'type='text/javascript' language='javascrip' ></script></div>
          </div>
          <div class="xypg-detail-con">
			{$yy.field.body}
          </div>
          <div class="xypg-detail-tags">
            <div class="tags-title">
              <h3>标签</h3>
              <div class="baidu-share"> 
                <!-- Baidu Button BEGIN -->
                <div class="bshare-custom"> <a title="分享到QQ空间" class="bshare-qzone"></a> <a title="分享到新浪微博" class="bshare-sinaminiblog"></a> <a title="分享到人人网" class="bshare-renren"></a> <a title="分享到腾讯微博" class="bshare-qqmb"></a> <a title="分享到网易微博" class="bshare-neteasemb"></a> <a title="更多平台" class="bshare-more bshare-more-icon more-style-addthis"></a> <span class="BSHARE_COUNT bshare-share-count">0</span> </div>
                <script type="text/javascript" charset="utf-8" src="/static/js/buttonlite.js"></script><script type="text/javascript" charset="utf-8" src="/static/js/bsharec0.js"></script> 
                <!-- Baidu Button END --> 
              </div>
            </div>
            <div class="tags-content">
			
			{dede:tag row='10' sort='rand'}{$field.highlight}{/dede:tag}
			
			</div>
          </div>
         
          <div class="xypg-detail-pn">
            <div>{yycms:prenext get='pre'/}</div>
            <div>{yycms:prenext get='next'/}</div>
          </div>
        </div>

        <!-- 相关产品和相关新闻 -->
        <div class="xypg-relate">
          <div class="relate-product">
            <h4 class="relate-title"><span>相关产品</span></h4>
            <div class="relate-product-slick owl-carousel owl-loaded owl-drag">

                <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 859px;">
				{yycms:arclist typeid="2" row="4" titlelen="60" orderby='pubdate'}
				<div class="owl-item active" style="width: 200.75px; margin-right: 14px;"><a href="{$field.arcurl}" title="{$field.title}">
                <span class="img"><img src="{$field.picname}" alt="{$field.title}"></span>
                <p>{$field.title}</p>
            </a></div>
			{/yycms:arclist}
			</div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"><span aria-label="Previous">‹</span></button><button type="button" role="presentation" class="owl-next"><span aria-label="Next">›</span></button></div><div class="owl-dots disabled"></div></div>
          </div>
          <div class="relate-news">
            <h4 class="relate-title"><span>相关新闻</span></h4>
            <ul class="clearfix relate-news-list">
				{yycms:arclist typeid="7" row="6" titlelen="60" orderby='pubdate'}

				<li><a href="{$field.arcurl}">{$field.title}</a></li>

				{/yycms:arclist}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="page-mob-tool">
      <ul>
        <li class="xymob-page-navbtn"><i class="icon-font icon-dots-horizontal"></i></li>
        <li class="xymob-page-backtop"><i class="icon-font icon-top"></i></li>
      </ul>
    </div>
  </div>
</div>
{include file="footer"/}
</body>
</html>
