<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui" />
<meta name="format-detection" content="telephone=no" />
<title>{$yy.field.title}-{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{$yy.field.description}" />
<link rel="stylesheet" type="text/css" href="/m/static/css/style.css" />
<script src="/m/static/js/jshandler.js" type="text/javascript"></script>
</head>
<body>
{include file="header_m"/}
<div class="itit nytit">
  <h2 class="iconbef">{$yy.field.typename}</h2>
  <div class="showmenu" id="showmenu">选择分类</div>
</div>
<nav class="menu" id="menu">
  <dl class="list clearfix">
    {yycms:channel type='son'}
    <dd ><a href="{$field.typeurl}" ig-cut>{$field.typename}</a></dd>
	{/yycms:channel}
  </dl>
</nav>
<section class="news-content">
  <h1>{$yy.field.title}</h1>
  <div class="rap"> <span>发布时间：{$yy.field.pubdate}</span> 
    <!-- <span>点击次数：<label id="b2dc8eed-c08e-4f56-aeaf-fdc34d3db6dc"></label>
<script type="text/javascript">JsReady(function(){getHits('64fc5590-d23f-4390-bfbf-9007fe43b182','b2dc8eed-c08e-4f56-aeaf-fdc34d3db6dc','b2dc8eed-c08e-4f56-aeaf-fdc34d3db6dc','true');});</script> 次</span> --> 
    <span>来源： {$yy.field.source} </span> </div>
  <article ig-article> 　
	{$yy.field.body|raw}
  </article>
  <commend ig-link>
    <div class="prev">{yycms:prenext get='pre'/}!</div>
    <div class="next">{yycms:prenext get='next'/}</div>
  </commend>
</section>
{include file="footer_m"/}
</body>
</html>