<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{$yy.field.title}_{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{$yy.field.description}" />
    <link rel="stylesheet" href="/skin/css/main.css"/>
    <link rel="stylesheet" href="/skin/css/media.css"/>
    <link rel="stylesheet" href="/skin/css/swiper-3.4.2.min.css"/>
    <script src="/skin/js/jquery-2.1.1.js"></script>
    <script src="/skin/js/swiper-3.4.2.min.js"></script>
    <script src="/skin/js/fastclick.js"></script>
    <!--[if IE]>
    <script src="/skin/js/html5shiv.min.js"></script>
    <script src="/skin/js/respond.min.js"></script>
    <![endif]-->
    <script src="/skin/js/main.js"></script>
</head>
<body>
{include file="head"/}
<div class="ban img100">
    <div class="pc-show"><img src="/skin/images/banner-ny.jpg"/></div>
    <div class="phone-show"><img src=""/></div>
</div>

<div class="contentbox">
    <div class="w1200 relative">
    <div class="box-pro-content">
		<div class="margin-t50 proxq-a clear">
			<div class="fl w500">
				<div class="proxqimg img100">
					<div class="swiper-container">
						<div class="swiper-wrapper">
						{yycms:productimagelist}
							<div class="swiper-slide swiper-no-swiping">
								<img src="{$field.imgsrc}"/>
							</div>
							{/yycms:productimagelist} 
							<div class="clear"></div>
						</div>
					</div>
				</div>
				<div class="clear"></div>
				<div class="proxq-sm relative">
					<div class="his-btn clear">
						<a class="arrow-left fl" href="javascript:;"></a>
						<a class="arrow-right fl" href="javascript:;"></a>
					</div>
					<div class="xqsmimg img100">
						<div class="swiper-container">
							<div class="swiper-wrapper">
							{yycms:productimagelist}
							<div class="swiper-slide {if condition='$key==0'}active-nav {/if} ">
								<img src="{$field.imgsrc}"/>
							</div>
							{/yycms:productimagelist} 
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="fr proxq-r ">
				<div class="pro-cs">
					<div class="pro-cs-a">
						<h4>{$yy.field.title}</h4>
						<span>{$yy.field.description}</span>
						<div class="line"></div>
					</div>
					<div class="param clear">
						<ul>
							<li class='w50'>参数一：xxxxxxxxxxx</li>
							<li class='w50'>参数一：xxxxxxxxxxx</li>
							<li class='w50'>参数一：xxxxxxxxxxx</li>
							<li class='w50'>参数一：xxxxxxxxxxx</li>
							<li class='w50'>参数一：xxxxxxxxxxx</li>
							<li class='w50'>参数一：xxxxxxxxxxx</li>
							<li class='w50'>参数一：xxxxxxxxxxx</li>
							<li class='w50'>参数一：xxxxxxxxxxx</li>
							<li class='w50'>参数一：xxxxxxxxxxx</li>
						
							
						</ul>
						
						
					</div>
					<div class="pri-online clear">
						<a class=" fl" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={:syscfg('cfg_qq')}&site=qq&menu=yes">产品咨询</a>
						<a class=" fl"  target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={:syscfg('cfg_qq')}&site=qq&menu=yes"><span class="icon iconfont  icon-iconfontzhizuobiaozhun023133 "></span> 在线客服</a>
						<a class=" fl"  target="_blank" href="http://www.taobao.com/webww/ww.php?ver=3&touid={:syscfg('cfg_tel')}&siteid=cntaobao&status=1&charset=utf-8"><span class="icon iconfont icon-wangwang "></span> 阿里旺旺</a>
					</div>
					<div class="pri-online clear">
						<a class=" fl" target="_blank" href="tel:{:syscfg('cfg_tel')}">技术支持</a>
						<a class=" fl tel" target="_blank" href="tel:{:syscfg('cfg_tel')}"  ><span class="icon iconfont icon-tel"></span> {:syscfg('cfg_tel')}</a>
						<a class=" fl tel" target="_blank" href="tel:{:syscfg('cfg_tel')}"  ><img src="/skin/images/code-small.jpg"><img src="/skin/images/code-small.jpg"></a>
						
					</div>
					
				</div>
			</div>
		</div>
	   <div class="margin-t50 proxq-b">
			<ul class="ul">
				<li class="active"><a href="javascript:;">产品详情</a></li>
				<li><a href="javascript:;">参数</a></li>
				<li><a href="javascript:;">2D/3D/PDF文件下载</a></li>
			</ul>
		</div>
		<div class="poroxq-b-con">
			<div class="cs-page" style="display:block">
			{$yy.field.pro|raw}
			</div>
			<div class="cs-page">
			{$yy.field.param|raw}
			</div>
			<div class="cs-page">
			{$yy.field.download|raw}
			</div>
		</div>
		
		
	</div>
    </div>
</div>
  {include file="footer"/}
</body>
<script src="/skin/js/countup.js"></script>
<script>
$(function(){
	$('.ul li').click(function(){
		$(this).addClass('active').siblings().removeClass('active');
		var index = $(this).index();
		$(".cs-page").eq(index).fadeIn().siblings().hide();
	})
})
var viewSwiper = new Swiper('.proxqimg .swiper-container', {     
   noSwiping : true,       
	   onSlideChangeStart: function() {
		updateNavPosition()        
	}   
 });   
 $('.proxq-sm .arrow-left,.proxq-sm .arrow-left').on('click', function(e) {     
 e.preventDefault();       
 if (viewSwiper.activeIndex == 0) {
	viewSwiper.slideTo(viewSwiper.slides.length - 1, 1000);
	return        
	}       
 viewSwiper.slidePrev()    
});   
 $('.arrow-right').on('click', function(e) {        
 e.preventDefault();        
 if (viewSwiper.activeIndex == viewSwiper.slides.length - 1) {
	viewSwiper.slideTo(0, 1000);
	return      
  }       
	viewSwiper.slideNext()   
  });    
  var previewSwiper = new Swiper('.xqsmimg .swiper-container', {        
  slidesPerView: 'auto',        
  allowTouchMove: false,        
  onTap: function() {
	viewSwiper.slideTo(previewSwiper.clickedIndex)        
	}   
 });    
function updateNavPosition() {   
     $('.xqsmimg .active-nav').removeClass('active-nav');       
	 var activeNav = $('.xqsmimg .swiper-slide').eq(viewSwiper.activeIndex).addClass('active-nav');        
	 if (!activeNav.hasClass('swiper-slide-visible')) {
if (activeNav.index() > previewSwiper.activeIndex) {
    var thumbsPerNav = Math.floor(previewSwiper.width / activeNav.width()) - 1;
    previewSwiper.slideTo(activeNav.index() - thumbsPerNav)
} else {
    previewSwiper.slideTo(activeNav.index())
}        
}    
}
</script>
</html>