<div class="footer">
   
    <div class="footer-mid">
        <div class="w1240 clear">
            
            <div class="fl col">
                <div class="fot-lxwm">
					<h3>CONTACT INFORMATION</h3>
                    <h5>联系我们</h5>
					<div class='line'></div>
                    <p><span class="icon iconfont icon-weizhi "></span>  {:syscfg('cfg_add')}</p>
					<p><span class="icon iconfont icon-tel"></span> {:syscfg('cfg_tel')}</p>
					<p><span class="icon iconfont icon-email"></span> {:syscfg('cfg_email')}</p>
                </div>
            </div>
			<div class="fl col border">
				<div class="fl footer-mid-left">
					<div class="code">
						<h3>CONTACT INFORMATION</h3>
						<h5>公众号</h5>
						<div class='line'></div>
						<p>欢迎关注我们的官方公众号</p>
						<img src="/skin/images/erweima.png" width='140' style="margin-top:15px">
					</div>
				</div>
             </div>
			 <div class="fl col">
                <div class="message">
					<h3>CONTACT INFORMATION</h3>
                    <h5>联系我们</h5>
					<div class='line'></div>
					
                    <div>
						<textarea class="InputText form-control" id="" name="item_30" maxlength="255" placeholder="请输入留言内容" data-required="true" tit="留言内容"></textarea>
					</div>
					 <div>
						<input name="captchas" class="InputText form-control" type="input" data-required="true" value="" placeholder="请输入验证码" maxlength="5" tit=" 验证码" data-error=" 验证码错误或已失效">
					  </div>
					 <div>
						<button type="button" class="btn btn-primary submitPC p_submit" data-ename="提交按钮">提交</button>
					 </div>
                </div>
            </div>
        </div>
    </div>
  <div class="footer-bot">
        <div class="w1388">
            <span class="zt">{:syscfg('cfg_powerby')}</span>
            <a target="_blank" href="http://beian.miit.gov.cn" style="color: #8c8c8c;font-family: dincondBold;">{:syscfg('cfg_beian')}</a>
        </div>
    </div>
    <div class="fubox">
        <div class="fu-list fu-list-tel clear">
            <div class="fu-warp fr">
                <div class="fu-txt">
                    <p>{:syscfg('cfg_tel')}</p>
                </div>
            </div>
            <div class="fu-icon fr"><img src="/skin/images/r-tel.png" alt=""/></div>
        </div>
        <div class="fu-list fu-list-qq clear">
            <a class="clear" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={:syscfg('cfg_qq')}&site=qq&menu=yes">
                <div class="fu-warp fr">
                    <div class="fu-txt">
                        <p>在线客服</p>
                    </div>
                </div>
                <div class="fu-icon fr"><img src="/skin/images/r-qq.png" alt=""/></div>
            </a>
        </div>
        <div class="fu-list  clear">
            <div class="weixin-code"><img src="/skin/images/code.jpg" alt=""></div>
            <div class="fu-icon fr"><img src="/skin/images/r-wx.png" alt=""/></div>
        </div>
        <div class="fu-list clear">
            <div class="fu-icon fr"><a target="_blank" href="http://www.weibo.com"><img src="/skin/images/r-wb.png" alt=""/></a></div>
        </div>
        <div class="fu-list toTop clear">
            <div class="fu-icon fr"><img src="/skin/images/r-top.png" alt=""/></div>
        </div>
    </div>
</div>
<div class="head-top head-top2 phone-show">
    <div class="w1388">
        <a class="hotLine text-center" href="tel:{:syscfg('cfg_tel')}" style="display: block;">
            <span class="span1">全国咨询热线：</span>
            <span class="span2">{:syscfg('cfg_tel')}</span>
        </a>
    </div>
</div>
<script src="/skin/js/wow.min.js"></script>