<div class="footer">
  <div class="wd1200 clearfix">
    <div class="fl footer-tel">
      <div class="footer-name">咨询热线</div>
      <div class="footer-tel-con">
        <div class="footer-tel-name clearfix">
          <div class="fl footer-tel-img"> <img src="{:syscfg('cfg_wechat_code')}" alt=""> </div>
          <div class="fl footer-tel-fname">
            <h3>咨询热线</h3>
            <p>Service hotline</p>
          </div>
        </div>
        <div class="footer-tel-num">
          <p>13635427595</p>
        </div>
         {yycms:type  typeid='17'}<a href='{$field.typeurl}'>在线咨询</a>{/yycms:type}</div>
    </div>
    <div class="fl footer-nav">
      <div class="footer-name">快速导航</div>
      <ul class="clearfix">
        <li class="fl"><a href="/">>网站首页</a></li>
       {yycms:channel type='top'}
		<li class="fl"><a href='{$field.typeurl}'>>{$field.typename}</a> </li>
	{/yycms:channel}
      </ul>
    </div>
    <div class="fl footer-telfs">
      <div class="footer-name">联系我们</div>
      <div class="footer-telfs-con">
        <p>{:syscfg('cfg_company')}</p>
        <p>联系人：邹 总</p>
        <p>电   话：13635427595</p>
        <p>网   址：www.gzjh668.com</p>
        <p>地   址：修文县 久长街道青龙居委会境内<br>（贵州健通管道有限公司内）</p>
      </div>
    </div>
    <div class="fr footer-code">
      <div class="footer-name">二维码</div>
      <div class="footer-code-con clearfix">
        <div class="fl footer-code-img"> <img src="{:syscfg('cfg_wechat_code')}" alt=""> </div>
        <div class="fl footer-code-title">
          <p>扫</p>
          <p>一</p>
          <p>扫</p>
          <p>手</p>
          <p>机</p>
          <p>网</p>
          <p>站</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="x-footer">
  <div class="wd1200 clearfix">
    <div class="x-copyright">{:syscfg('cfg_powerby')}  
      主要从事于
	  {yycms:channel typeid='2'}<a href='{$field.typeurl}' title='{$field.typename}'>{$field.typename}</a> {/yycms:channel},
	  欢迎来电咨询！ <br>
      <a href="https://beian.miit.gov.cn/" target='_blank'>{:syscfg('cfg_beian')}</a> </p>
       <span class="jszc">技术支持：<a href="#" target='_blank'>快渔</a></span> </div>
    
    <p>免责声明：本站内容由互联网收集整理，版权归原创作者所有，如有侵权请联系我们处理删除内容，谢谢！</p>
  </div>
</div>

<!-- 右侧客服 --> 
<!-- 侧边工具栏 -->
<div id="toolbar">
  <ul>
    <li><a href="http://wpa.qq.com/sgrd?v=3&uin={:syscfg('cfg_qq')}&site=qq&menu=yes" target="_blank"> <span class="icon-font icon-qq"></span> <span class="wz">业务咨询</span> </a></li>
    <li><a href="javascript:;"> <span class="icon-font icon-phone"></span> <span class="wz">{:syscfg('cfg_tel')}</span> </a></li>
    <li class="ewm"> <span class="icon-font icon-ewm"></span>
      <div class="ewm-box"><img src="{:syscfg('cfg_wechat_code')}" alt="二维码" /></div>
    </li>
    <li>{yycms:type  typeid='17'}<a href="{$field.typeurl}"> <span class="icon-font icon-message"></span> <span class="wz">在线留言</span> </a>{/yycms:type}</li>
    <li class="backtop"><span class="icon-font icon-top"></span></li>
  </ul>
</div>
<script>
    $(function () {
        // 返回顶部
        app.backTop("#toolbar .backtop",300);
        var imgUrl = '/';
        if($(".ewm-box img").attr('src') == imgUrl ) {
            $(".ewm-box").remove();
        }
    })
</script> 
<script src="/static/js/ain.js"></script> 

<script type="text/javascript" src="/static/js/wow.min.js"></script> 
<script>
    var wow = new WOW({
        boxClass: 'wow',
        animateClass: 'animated',
        offset: 0,
        mobile: true,
        live: true
    });
    wow.init();
    </script> 
<script>
        scroll();
    </script> 
