<div id="header">
  <div class="wd1200 clearfix">
    <div class="wel fl wow slideInLeft">
      <p>您好，欢迎访问贵州家鸿新型建材有限公司官网！</p>
    </div>
    <div class="k2 fr  wow slideInRight"> {yycms:type  typeid='11'}<a href='{$field.typeurl}'>{$field.typename}</a>{/yycms:type} | <a href="/data/sitemap/">网站地图</a> | <a href="/data/rss.xml">RSS</a>  </div>
  </div>
</div>
<div class="top_cc">
  <div class="wd1200 clearfix">
    <div class="logo wow slideInLeft"><a href="/"><img alt="{:syscfg('cfg_webname')}" src="{:syscfg('cfg_logourl')}" /></a></div>
    <div class="fl tofu wow slideInLeft">
      <p style="font-size: 24px;color: red;"><span style="color: #0058bc;">螺旋钢波纹管</span>定制生产厂家</p>
      <p>研发/生产/销售/安装及工程技能等一体化服务</p>
    </div>
    <div class="top_phone  wow slideInRight"> <span>——  全国咨询服务  ——</span> <span>
      <p style="color:red">13635427595</p>
      </span> </div>
  </div>
</div>
<div class="nav_wap">
  <ul class="x-menu clearfix">
    <li> <a href="/" >网站首页</a> </li>
	{yycms:channelartlist typeid="top"}
    <li> <a href="{$field.typeurl'/}" >{dede:field name='typename}</a>
	 <ul class="x-sub-menu">
		{yycms:channel type='son'}
        <li><a href='{$field.typeurl}' title='{$field.typename}'>{$field.typename}</a></li>
        {/yycms:channel}
      </ul>
    </li>
	{/yycms:channelartlist}
  </ul>
</div>
