<div class="mob-wrap">
        <!-- 头部 -->
	<div class="mob-head">
		<div class="logo">
			<a href="/">
				<img src="{:syscfg('cfg_logourl')}">
			</a>
		</div>
		
		<div class="head-btn">
			<a href="javascript:;" class="nav-btn"><i class="iconfont icon-icon-shuanglieliebiao"></i></a>
		</div>
		
	</div>

   <!-- 导航 -->
	<div class="mob-nav">
	  <div class="close-btn"><i class="iconfont icon-close"></i></div>
	  <ul>
		  <li><a href="/">网站首页</a></li>
		 {yycms:channel type='top' } 
		  <li><a href="list.php?tid={$field.id}">{$field.typename}</a></li>
		  {/yycms:channel}
	  </ul>
	</div> 