<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{$yy.field.title}_{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{$yy.field.description}" />
    <link rel="stylesheet" href="/skin/css/main.css"/>
    <link rel="stylesheet" href="/skin/css/media.css"/>
    <link rel="stylesheet" href="/skin/css/swiper-3.4.2.min.css"/>
    <script src="/skin/js/jquery-2.1.1.js"></script>
    <script src="/skin/js/swiper-3.4.2.min.js"></script>
    <script src="/skin/js/fastclick.js"></script>
    <!--[if IE]>
    <script src="/skin/js/html5shiv.min.js"></script>
    <script src="/skin/js/respond.min.js"></script>
    <![endif]-->
    <script src="/skin/js/main.js"></script>
</head>
<body>
{include file="head"/}
<div class="ban img100">
    <div class="pc-show"><img src="{$yy.field.typeimg}"/></div>
    <div class="phone-show"><img src="{$yy.field.typeimg}"/></div>
</div>

<div class="contentbox">
    <div class="w1240 relative">
		{include file="left_pro"/}
		<div class="box-right">
          <div class="margin-0 gywm-edit">
			<div class="module_form_content">            
			<form method="POST" enctype="multipart/form-data" action="{:url('template/message')}" onsubmit="return checkForm();">
			  <input name="diyid" class="reset" value="2" type="hidden">
              <div class="module_field">
                <div class="c_left">姓名：</div>
                <div class="middle">
                  <input class="input text-box single-line" id="attr_1" name="name" style="float:left;width:50%" type="text" value="">
                  <span class="field-validation-valid text-danger"></span> </div>
              </div>
              <div class="module_field">
                <div class="c_left">电话：</div>
                <div class="middle">
                  <input class="input text-box single-line" id="attr_2" name="tel" type="text" value="">
                  <span class="field-validation-valid text-danger"></span> </div>
              </div>
              <div class="module_field">
                <div class="c_left">邮箱：</div>
                <div class="middle">
                  <input class="input text-box single-line" id="attr_3" name="email" type="text" value="">
                  <span class="field-validation-valid text-danger"></span> </div>
              </div>
              <div class="module_field">
                <div class="c_left">内容：</div>
                <div class="middle">
                  <textarea class="input" cols="20" id="attr_4" name="content" placeholder="请简单描述您的需求，我们会尽快联系您" rows="2" style="float:left;height:140px;width:100%;"></textarea>
                  <span class="field-validation-valid text-danger"></span> </div>
              </div>
              <div class="btn-area">
                <input name="submit" value="提交" class="btn-submit" type="submit" >
                <input name="reset" class="reset" value="重置" type="reset">
              </div>
			 </form>
             </div>
		  </div>
        </div>
    </div>
</div>
  {include file="footer"/}
</body>
<script>
	function checkForm(){
		var name = $('input[name="name"]').val();
		var tel = $('input[name="tel"]').val();
		if(!name){
			alert("姓名不能为空");
			return false;
		}
		if(!tel){
			alert("电话不能为空");
			return false;
		}
		
	}
</script>
<script src="/skin/js/countup.js"></script>
</html>