<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="baidu-site-verification" content="jbfkgME9T0" />
<title>在线留言_{:syscfg('cfg_webname')}_长沙珍珠棉|保护膜</title>
<meta name="keywords" content="{:syscfg('cfg_webname')},长沙珍珠棉,保护膜" />
<meta name="description" content="{:syscfg('cfg_webname')}是一家集研发、生产、销售为一体，行业优选，珍珠棉品种齐全的专业生产珍珠棉包装材料的生产企业。公司占地面积30余亩，厂房19500 平方米。电话：{:syscfg('cfg_tel')}" />
<link rel="stylesheet" href=" /static/css/style.css">
<script> var _hmt = _hmt || []; (function() { var hm = document.createElement("script"); hm.src = "https://hm.baidu.com/hm.js?63c2df9d15bbde31516df32d026fd7ef"; var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(hm, s); })(); </script>
<script type="text/javascript">
var host = window.location.host; 
var system = { 
win: false, 
mac: false, 
xll: false 
}; 
var p = navigator.platform; 
var pl = host.substr(4, 6);
if (pl!="hnjing")
  {
system.win = p.indexOf("Win") == 0; 
system.mac = p.indexOf("Mac") == 0; 
system.x11 = (p == "X11") || (p.indexOf("Linux") == 0); 
if (system.win || system.mac || system.xll) { 
} else { 
window.location.href ="http://" + host+"/"; 
}
}else{}
</script>
<script src=" /static/js/jshandler.js" type="text/javascript"></script>
<script>(function () {
	if(document.querySelectorAll('#mps_cms_script').length<1){
	var mps = document.createElement("script");
	mps.src = "http://ps.jwyun.net/ps_collection/v1/visit/cms?d=csdmsj.cn";
	mps.id = "mps_cms_script";
	var s = document.getElementsByTagName("script")[0];
	s.parentNode.insertBefore(mps, s);
	}
})();
</script>
</head>
<body>
<div class="top clearfix">
  <div class="he_top">
    <div class="w">
      <div class="fl zi">欢迎来到{:syscfg('cfg_webname')}官网！</div>
      <div class="t fr">
        <li><a href="/gy/" title="关于好之彩">关于好之彩</a></li>
        <li class="addFav" id="addFavo"><a href="javascript:;">加入收藏 </a></li>
        <li class="setHome" id="setHome"><a href="javascript:;">设为首页</a></li>
        <li class="webMap"></li>
      </div>
    </div>
  </div>
  <div class="header w">
    <div class="logo"> <a href="/Default.html" alt="{:syscfg('cfg_webname')}" title="{:syscfg('cfg_webname')}"><img src=" /static/images/logo_20190415103129655.png"  alt="{:syscfg('cfg_webname')}" title="{:syscfg('cfg_webname')}"/></a>
      <div class="header_g"> <span>厂家直销，产量大</span>
        <p>专业生产珍珠棉包装材料</p>
      </div>
    </div>
    <div class="fr">
      <div class="tel s">
        <p class="Telephone" ig-phone>{:syscfg('cfg_tel')}</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class=" nav">
  <div class="w">
    <ul>
      <li><a href="/Default.html"  title="网站首页">网站首页</a></li>
      <li><a href="/zzm/" title="珍珠棉系列"  class="" ><i>珍珠棉系列</i></a>
        <div class="subNav"> <a href="/zzm/s/" title="珍珠棉深加工" >珍珠棉深加工 </a> <a href="/zzm/b/" title="珍珠棉板材片材" >珍珠棉板材片材 </a> <a href="/zzm/j/" title="珍珠棉卷材" >珍珠棉卷材 </a> <a href="/zzm/f/" title="珍珠棉复合" >珍珠棉复合 </a> <a href="/zzm/y/" title="珍珠棉异型材" >珍珠棉异型材 </a> </div>
      </li>
      <li><a href="/bhm/" title="保护膜系列"  class="" ><i>保护膜系列</i></a>
        <div class="subNav"> <a href="/bhm/cz/" title="瓷砖保护膜" >瓷砖保护膜 </a> <a href="/bhm/zx/" title="装修地面保护膜" >装修地面保护膜 </a> </div>
      </li>
      <li><a href="/sl/" title="实力展现"  class="" ><i>实力展现</i></a>
        <div class="subNav"> <a href="/sl/cf/" title="厂房厂貌" >厂房厂貌 </a> <a href="/sl/tz/" title="拓展活动" >拓展活动 </a> </div>
      </li>
      <li><a href="/ry/" title="荣誉资质"  class="" ><i>荣誉资质</i></a>
        <div class="subNav"> </div>
      </li>
      <li><a href="/xw/" title="新闻中心"  class="" ><i>新闻中心</i></a>
        <div class="subNav"> <a href="/xw/tujyukuipl/" title="公司新闻" >公司新闻 </a> </div>
      </li>
      <li><a href="/gy/" title="关于好之彩"  class="" ><i>关于好之彩</i></a>
        <div class="subNav"> </div>
      </li>
      <li><a href="/lx/" title="联系我们"  class="" ><i>联系我们</i></a>
        <div class="subNav"> </div>
      </li>
      <li><a href="/ly/" title="在线留言"  class="  hover " ><i>在线留言</i></a>
        <div class="subNav"> </div>
      </li>
    </ul>
  </div>
</div>
<!--nav end-->
<div class="iban" style="height:300px;">
  <div class="banner minBanner" id="banner" >
    <ul class="list">
      <li class="item" style="background:url( /static/images/20190415103544_0291.jpg) center top no-repeat;"></li>
      <li class="item" style="background:url( /static/images/20190415103549_8636.jpg) center top no-repeat;"></li>
      <li class="item" style="background:url( /static/images/20190415103557_1020.jpg) center top no-repeat;"></li>
    </ul>
    <div class="clear"></div>
  </div>
  <div class="tip"></div>
  <div class="search">
    <div class="w clearfix">
      <div class="shadow">
        <div class="searcher" id="searcher">
          <input type="submit" name="sub" id="SearchSubmit" class="submit  s" value="" />
          <input type="hidden" value="/da76388a-0bde-4d84-b3e8-313c85f60101.html?a=1&key=d5818611-8cae-4628-9084-e388b27a032c"  id="Searchtype" />
          <input type="text" class="txt" value="请输入关键词搜索" placeholder="请输入关键词搜索" name="" id="SearchTxt" />
        </div>
        <div class="skey"><span class="blue">热门关键词：</span> <a href="/zzm/s/">珍珠棉深加工</a> <a href="/zzm/b/">珍珠棉板材片材</a> <a href="/zzm/j/">珍珠棉卷材</a> <a href="/zzm/f/">珍珠棉复合</a> <a href="/zzm/y/">珍珠棉异型材</a> </div>
      </div>
    </div>
  </div>
</div>
<!--banner end-->
<div class="submian w">
  <div class="ne_left"></div>
  <div class="ne_right"></div>
  <!--left-->
  <div class="subleft fl">
    <div class="sidebar">
      <div class="topclass">
        <h2 class="s">在线留言</h2>
      </div>
      <dl class="side-menu clearfix" id="menu">
        <dd> <a href="/ly/" title="在线留言" class=" hover ">在线留言</a> </dd>
      </dl>
      <div class="detail s"> </div>
    </div>
    <div class="leftnews clearfix">
      <div class="titlex"> <span>珍珠棉系列</span> <b>PEARL COTTON </b> </div>
      <div class="leftnewscomt">
        <div class="mainx" id="inewsView">
          <dl class="listx">
            <dd><a href="/zzm/j/476bf17f-1409-4925-89a8-1477e6f86043.html" title="{$field.title}"><img src=" /static/images/201904031014398.jpg" title="{$field.title}" alt="{$field.title}" /></a></dd>
            <dd><a href="/zzm/j/b4bc6e99-d4c2-4f90-a1aa-1d4b3b275637.html" title="珍珠棉卷材2"><img src=" /static/images/201904031015460.jpg" title="珍珠棉卷材2" alt="珍珠棉卷材2" /></a></dd>
            <dd><a href="/zzm/j/6b8f4b0d-2268-4fc8-b6d2-54a4d20f5a77.html" title="珍珠棉卷材3"><img src=" /static/images/201904031015402.jpg" title="珍珠棉卷材3" alt="珍珠棉卷材3" /></a></dd>
          </dl>
          <div class="clear"></div>
          <div class="tipx"></div>
        </div>
      </div>
    </div>
    <!-- contact -->
    <div class="leftcontact" style="margin-top:20px;">
      <div class="titlex"> <span>联系我们</span> <b>CONTACT</b> </div>
      <div class="leftcontactcomt"> <strong>{:syscfg('cfg_webname')}</strong>　<br />
        售前咨询：{:syscfg('cfg_tel')}<br />
        销售直线：0731-86865577<br />
        销售热线：0731-82287992<br />
        工厂：长沙市黄兴镇蓝田工业园<br />
        公司：长沙市芙蓉区人民东路398号 </div>
    </div>
  </div>
  <!--left end--> 
  <!--right-->
  <div class="subright fr">
    <div class="sobtitle">
      <p class="fl">在线留言</p>
      <div class="sitepath fr">当前位置：<a href="/Default.html" class="home">网站首页</a> > <a href="/ly/" title="在线留言">在线留言</a> </div>
      <i></i> </div>
    <div class="recommend-form">
      <form name='formPost' id='formPost' action='http://cmspost.hnjing.cn/FormPostBack.aspx?mid=bf978a2d-c14d-4640-af55-7f493084dea5&fcid=$formclass.ID&sid=59875bc9-5c8b-4663-b023-c97f8df917d5&cid=e0dfa1f9-c9d5-4273-b4a1-0b343a9a799e&nid=$formnews.ID&p=1&pid=9441a405-17c5-4ff7-8a15-70c5ab6d15ea' method='POST' enctype='multipart/form-data' runat='server'>
        <div class="main">
          <div class="row-1 ico-name required">
            <input type="text" class="txt" name="Name" value="访客姓名" placeholder="访客姓名" empty="请输入您的的称呼" maxlength="5" />
            <i class="tip">*</i> </div>
          <div class="row-1 ico-phone required">
            <input type="text" class="txt" name="Phone" value="联系电话" placeholder="联系电话" empty="请输入您的联系电话" error="请输入正确的联系电话" maxlength="15" />
            <i class="tip">*</i> </div>
          <div class="row-1 ico-email">
            <input type="text" class="txt" name="Email" value="电子邮箱" placeholder="电子邮箱" error="请输入正确的电子邮箱" maxlength="30" />
          </div>
          <div class="row-2">
            <textarea class="text" placeholder="请填写您的需求信息..." name="content">请填写您的需求信息...</textarea>
          </div>
          <div class="row-3">
            <input type="text" class="code" name="txtImageCode" value="验证码" placeholder="验证码" empty="请输入验证码" maxlength="4" />
            <img src=" /static/images/imageverification.aspx" onclick="ChangeImageVerificationImageUrl(this);" class="code" /> </div>
          <div class="row-3">
            <input type="submit" class="submit" value="提交" />
            <input type="reset" class="reset" value="重置" />
          </div>
          <div class="clear"></div>
        </div>
        <input type="hidden" id="NavigateUrl" name="NavigateUrl" value="" />
      </form>
      <script type='text/javascript'> JsReady(function(){ fillFormValue(); });  </script> 
    </div>
  </div>
  <!--right-->
  <div class="clear"></div>
</div>
<!--foot-->
<div class="bottom_c clearfix">
  <div class="shadow"></div>
  <div class="w clearfix">
    <div class="inav_b">
      <div class="thead">
        <div class="tit"> 网站导航<i>NAV</i> </div>
        <span></span><em></em> </div>
      <ul>
        <a href="/Default.html" title="网站首页" >网站首页</a> <a href="/zzm/" title="珍珠棉系列" >珍珠棉系列 </a> <a href="/bhm/" title="保护膜系列" >保护膜系列 </a> <a href="/sl/" title="实力展现" >实力展现 </a> <a href="/ry/" title="荣誉资质" >荣誉资质 </a> <a href="/xw/" title="新闻中心" >新闻中心 </a> <a href="/gy/" title="关于好之彩" >关于好之彩 </a> <a href="/lx/" title="联系我们" >联系我们 </a> <a href="/ly/" title="在线留言" >在线留言 </a>
      </ul>
    </div>
    <div class="ilink">
      <div class="thead">
        <div class="tit"> 友情链接<i>LINK</i> </div>
        <span></span><em></em> </div>
      <a href="https://www.baidu.com/" target="_blank" title="百度"> > 百度</a> <a href="http://www.hnjing.com/" target="_blank" title="竞网智赢"> > 竞网智赢</a> </div>
    <div class="keyword">
      <div class="thead">
        <div class="tit"> 关键词 <i style="line-height:2; display:inline-block; padding-top:20px;;">{:syscfg('cfg_webname')},长沙珍珠棉,保护膜</i> </div>
        <span></span><em></em> </div>
    </div>
    <div class="ilianxi"> <b>{:syscfg('cfg_webname')}</b>
      <div class="wd"> <strong>{:syscfg('cfg_webname')}</strong>　<br />
        售前咨询：{:syscfg('cfg_tel')}<br />
        销售直线：0731-86865577<br />
        销售热线：0731-82287992<br />
        工厂：长沙市黄兴镇蓝田工业园<br />
        公司：长沙市芙蓉区人民东路398号 </div>
      <div class="webcode"> 
        <!--div class="item">
      <img src=" /static/images/obilecode.png" />
      <span>手机网站</span>
     </div--> 
      </div>
    </div>
    <div class="webcode">
      <div class="item"> <img src=" /static/images/qrcode.png" /> <span>手机网站</span> </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<div class="footer">
  <div class="w">
    <div class="wd fl"> 
      <!-- 版权所有：{:syscfg('cfg_webname')}<br/>
电话：{:syscfg('cfg_tel')}<br/>
地址：长沙市芙蓉区人民东路398号<br/>  -->版权所有：{:syscfg('cfg_webname')}   技术支持：<a href="http://www.hnjing.com" target="_blank" title="竞网智赢">竞网智赢</a> <a href="http://www.csdmsj.cn/sitemap.html">网站地图</a> <a href="http://www.beian.miit.gov.cn" target="_blank">湘ICP备19008384号-1</a> <a href="/gy/" title="营业执照查阅" style="font-size:14px; font-weight:bold;">营业执照查阅</a> <script type="text/javascript" src=" /static/js/z_stat.js"></script> 
    </div>
    <div class="telx fr s">
      <p  ig-phone>{:syscfg('cfg_tel')}</p>
    </div>
  </div>
</div>
<dl class="toolbar" id="toolbar">
  <!-- <dd>
	        <a class="slide qq slide-qq" href="tencent://essage/?uin=286150754&Menu=yes">在线QQ</a>
	    </dd> -->
  <dd> <i class="tell"></i>
    <ul class="pop pop-tel">
      <li class="o"></li>
      <li class="icon">咨询热线</li>
      <li class="item" ig-phone>{:syscfg('cfg_tel')}</li>
    </ul>
  </dd>
  <dd> <i class="code"></i>
    <ul class="pop pop-code">
      <li class="o"></li>
      <li style="width:100%;"> <img style="display:block; float:left" src=" /static/images/qrcode.png" />
        <h3 style="display:block; width:100%; text-align:center; float:left; ">手机二维码</h3>
      </li>
    </ul>
  </dd>
  <dd> <i id="goTop" class="top"></i> </dd>
</dl>
<script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"16"},"slide":{"type":"slide","bdImg":"1","bdPos":"left","bdTop":"100"}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/ /static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script> 
<script src=" /static/js/app.js"></script> 
<script src=" /static/js/jquery.easing.min.js"></script> 
<script>
(function(){
    var bp = document.createElement('script');
    var curProtocol = window.location.protocol.split(':')[0];
    if (curProtocol === 'https') {
        bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
    }
    else {
        bp.src = 'http://push.zhanzhang.baidu.com/push.js';
    }
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(bp, s);
})();
</script>
</body>
</html>