<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{$yy.field.title}_{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{$yy.field.description}" />
    <link rel="stylesheet" href="/skin/css/main.css"/>
    <link rel="stylesheet" href="/skin/css/media.css"/>
    <link rel="stylesheet" href="/skin/css/swiper-3.4.2.min.css"/>
    <script src="/skin/js/jquery-2.1.1.js"></script>
    <script src="/skin/js/swiper-3.4.2.min.js"></script>
    <script src="/skin/js/fastclick.js"></script>
    <!--[if IE]>
    <script src="/skin/js/html5shiv.min.js"></script>
    <script src="/skin/js/respond.min.js"></script>
    <![endif]-->
    <script src="/skin/js/main.js"></script>
</head>
<body>
{include file="head"/}
<div class="ban img100">
    <div class="pc-show"><img src="{$yy.field.typeimg}"/></div>
    <div class="phone-show"><img src="{$yy.field.typeimg}"/></div>
</div>
<div class="position">
    <div class="w1240">
        <div class="gk-title">
            <h2><i><img src="/skin/images/h2-1.png"/></i>{$yy.field.typename}</h2>
        </div>
    </div>
</div>
<script type="text/javascript">
    var img1='<meta content="telephone=no" name="format-detection">';
    $('head').append(img1);
</script><div class="contentbox">
    <div class="w1240 relative">
        {include file="left"/} 
		<div class="box-right">
          <div class="margin-0 gywm-edit">
			{$yy.field.content|raw}
		  </div>
        </div>
    </div>
</div>
  {include file="footer"/}
</body>
<script src="/skin/js/countup.js"></script>
</html>