<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <title>{$yy.field.title}-{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{$field.description}" />
    <link rel="stylesheet" href="static/css/iconfont.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="stylesheet" href="static/css/ain.css">
    <script src="static/js/jquery-1.11.3.min.js"></script>
</head>

<body>
    <div class="mob-wrap">
    <!-- 头部 -->
	{include file="header_m"/}      
	<!-- banner -->
	  <!-- 内页banner -->
    
    <div class="page-banner"></div>
    

    <!-- 主体内容 -->

    <div class="page-content">
        
	<div class="page-sort">
		<div class="page-sort-title">
			<span> {$field.typename}</span>
			<div class="page-sort-btn"><i class="iconfont icon-close"></i></div>
		</div>
		<ul class="first-sort">
		 {yycms:channel type='son'}
		  <li> <a class="first-a" href="list.php?tid={$field.id}">{$field.typename}</a> </li>
		  {/yycms:channel}        
	   </ul>
	</div>

	<div class="bread-crumbs"><span class="open-btn"><i class="iconfont icon-daohang"></i></span> {$field.typename}</div>
	<div class="page-detail">
	   {$yy.field.content|raw}
	</div>

    </div>
{include file="footer_m"/}
</body>
</html>