<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <title>{:syscfg('cfg_webname')}</title>
	<meta name="description" content="{:syscfg('cfg_description')}" />
	<meta name="keywords" content="{:syscfg('cfg_keywords')}" />
    <link rel="stylesheet" href="static/css/iconfont.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="stylesheet" href="static/css/ain.css">
    <script src="static/js/jquery-1.11.3.min.js"></script>
</head>

<body>
    {include file="header_m"/}            
 <!-- banner -->
	<div class="mob-banner slick-initialized slick-slider slick-dotted">
		<div class="slick-list">
		{yycms:arclist typeid="21" row="6" titlelen="60" orderby='pubdate'}
			<div><a href="#"><img src="{$field.picname}" alt=""></a></div>
		{/yycms:arclist}
		</div>
		</div>

        <!-- 搜索框 -->
        <div class="search">
            <form method="get" name="formsearch" id="formsearch" action="/plus/search_m.php">
                <input type="text" name="wd" id="keyword" placeholder="请输入关键词">
                <input type="submit" id="s_btn" value="">
            </form>
        </div>
        <ul class="bul clearfix">
             <li class="fl">
                <a href="list.php?tid=1">
                    <img src="/static/images/20201118120339_927.png" alt="关于我们">
                    <h3>
                        关于我们
                    </h3>
                </a>
            </li>
                        <li class="fl">
                <a href="list.php?tid=2">
                    <img src="/static/images/20201118120348_810.png" alt="产品中心">
                    <h3>
                        产品中心
                    </h3>
                </a>
            </li>
                        <li class="fl">
                <a href="list.php?tid=17">
                    <img src="/static/images/20201118120426_640.png" alt="在线留言">
                    <h3>
                        在线留言
                    </h3>
                </a>
            </li>
              <li class="fl">
                <a href="list.php?tid=18">
                    <img src="/static/images/20201118120437_721.png" alt="联系我们">
                    <h3>
                        联系我们
                    </h3>
                </a>
            </li>
             </ul>

        <div class="abouts">
            <div class="abt">
                <h3><span>关于</span>我们</h3>
                <img src="/static/images/bt1.png" alt="">
                <div class="yw">about us</div>
                <div class="w1">秉承“持续进取、诚情为本“的经营理念</div>
            </div>
            <div class="abox">
                <div class="aimg">
                    <p><img src="/static/images/1606121454326517.jpg" title="" alt="" width="400" height="257" border="0" vspace="0" style="width: 400px; height: 257px;"></p>
                </div>
                <div class="abox2">
                    <h3>{:syscfg('cfg_company')}</h3>
                    <div class="acon">
                        <p style="text-indent: 2em;">...</p>
                    </div>
                    <div class="m1 clearfix"><a href="list.php?tid=1" class="fr"><img src="/static/images/jia.jpg" alt=""></a></div>
                </div>
            </div>
        </div>

        <div class="cpzx">
            <div class="abt">
                <h3><span>产品</span>中心</h3>
                <img src="/static/images/bt2.png" alt="">
                <div class="yw">product</div>
                <div class="w1">致力于为用户带来价值、为经销商带来利润、为员工带来财富</div>
            </div>
            <ul class="psort clearfix">
				{yycms:channel typeid='2'}
				<li><a href="list.php?tid={$field.id}">{$field.typename}</a></li>
				 {/yycms:channel}                   
				<li><a href="list.php?tid=2">更多产品 +</a></li>
            </ul>
            <ul class="plist2 clearfix">
			{yycms:arclist typeid="2" row="6" titlelen="60" orderby='pubdate'}
               <li class="fl">
                    <a href="view.php?aid={$field.id}" title="{$field.title}" class="img">
                        <img src="{$field.picname}" alt="{$field.title}">
                    </a>
                    <h3><a href="view.php?aid={$field.id}">{$field.title}</a></h3>
                </li>
				{/yycms:arclist}
				</ul>
        </div>

        <div class="youshi">
            <div class="ybt">国标管道经营内容</div>
            <div class="ys1">
                <p style="text-indent: 2em;">{yycms:channel sql='Select content from dede_arctype where id=1'}
{$field.content|raw}
{/yycms:channel}</p>
            </div>
            <ul class="yul">
                     <li class="clearfix">
                    <a href="/" class="fl img">
                        <img src="/static/images/20201118120620_431.png" alt="顾客至上">
                    </a>
                    <div class="nei fl">
                        <a href="/">
                            顾客至上 <span>
                                提供技术指导</span></a>
                    </div>
                </li>
                                <li class="clearfix">
                    <a href="/" class="fl img">
                        <img src="/static/images/20201123175308_114.png" alt="服务为本">
                    </a>
                    <div class="nei fl">
                        <a href="/">
                            服务为本 <span>
                                一体化服务</span></a>
                    </div>
                </li>
                                <li class="clearfix">
                    <a href="/" class="fl img">
                        <img src="/static/images/20201118120647_162.png" alt="技术雄厚">
                    </a>
                    <div class="nei fl">
                        <a href="/">
                            技术雄厚 <span>
                                技术研发团队</span></a>
                    </div>
                </li>
               </ul>

        </div>


        <div class="anli">
            <div class="abt">
                <h3><span>案例</span>中心</h3>
                <img src="/static/images/bt3.png" alt="">
                <div class="yw">Case</div>
                <div class="w1">致力于为用户带来价值、为经销商带来利润、为员工带来财富</div>
            </div>
            <ul class="clist clearfix">
			{yycms:arclist typeid="15" row="6" titlelen="60" orderby='pubdate'}
                  <li>
                    <a href="{$field.id}" title="{$field.title}" class="img">
                        <img src="{$field.picname}" alt="{$field.title}">
                    </a>
                    <div class="con1">
                        <a href="{$field.id}" class="cbt">
                            {$field.title}</a>
                    </div>
                </li>
				{/yycms:arclist}
				</ul>
        </div>

        <div class="xinwen">
            <div class="abt">
                <h3><span>新闻</span>中心</h3>
                <img src="/static/images/bt4.png" alt="">
                <div class="yw">New</div>
                <div class="w1">致力于为用户带来价值、为经销商带来利润、为员工带来财富</div>
            </div>
            <ul class="xul clearfix">
			{yycms:arclist typeid="11" row="6" titlelen="60" orderby='pubdate' flag='p'}
                  <li class="fl">
                    <a href="view.php?aid={$field.id}" class="img">
                        <img src="{$field.picname}" alt="{$field.title}">
                    </a>
                </li>
				{/yycms:arclist}
				
              </ul>
            <ul class="news_list1">
			{yycms:arclist typeid="11" row="6" titlelen="60" orderby='pubdate'}
                 <li class="clearfix"><a href="view.php?aid={$field.id}" title="{$field.title}" class="fl">
                        {$field.title}</a><span class="fr">
                        [field:pubdate function=MyDate('Y-m-d',@me)/]</span></li>
				{/yycms:arclist}
               </ul>
        </div>

        <div class="lxwm">
            <div class="xbt">{:syscfg('cfg_powerby')}div>
            <div class="wbox clearfix">
                <div class="lx fl">
                    <p>手机 ：{:syscfg('cfg_TEL')}</p><p>网址 ：{:syscfg('cfg_basehost')}</p><p>地址 ：{:syscfg('cfg_address')}</p>
                </div>
                <div class="ewm2 fr">
                    <p><img src="/static/images/1607335267179688.jpg" title="" alt="" width="90" height="90" border="0" vspace="0" style="width: 90px; height: 90px;"></p>
                </div>
            </div>
        </div>

    {include file="footer_m"/}
 
</body>
</html>