<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="baidu-site-verification" content="jbfkgME9T0" />
<title>{$yy.field.title}-{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{dede:field name='description' /}" />
<link rel="stylesheet" href=" /static/css/style.css">
<script src=" /static/js/jshandler.js" type="text/javascript"></script>
</head>
<body>
{include file="head"/}
<!--banner end-->
<div class="submian w">
  <div class="ne_left"></div>
  <div class="ne_right"></div>
  <!--left-->
  {include file="left"/}
  <!--left end--> 
  <!--right-->
  <div class="subright fr">
    <div class="sobtitle">
      <p class="fl">{$yy.field.typename}</p>
      <div class="sitepath fr">当前位置：{$yy.field.position|raw}</div>
      <i></i> </div>
    <div class="aboutlist">
      
      <div class="bdshare">
        <div class="bdsharebuttonbox bdshare-button-style0-24" data-bd-bind="1460094611815"> 
		  {$yy.field.content|raw}
          <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a> <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a> <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a> <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a> <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a> </div>
      </div>
     <!--  <div class="mab">
        <div class="dtditu">动态地图</div>
        <div id="baiduMap" class="baiduMap" style="line-height:16px;"></div>
        <script type="text/javascript">
   JsReady(function(){showMap('baiduMap','{:syscfg('cfg_webname')}',113.041117,28.189987,'电话：{:syscfg('cfg_tel')}<br/>地址：长沙市芙蓉区人民东路398号',15)}); 
</script> 
      </div> -->
    </div>
  </div>
  <!--right-->
  <div class="clear"></div>
</div>
<!--foot-->
{include file="footer"/}
</body>
</html>