<div class="page-wrap-left xymob-menu-click">
      <div class="xymob-left-close-btn"><i class="icon-font icon-close"></i></div>
      <div class="xypg-left">
        <div class="xypg-left-box xypg-left-menu">
          <div class="xypg-left-title">
            <h3> {$field.typename"/}<span>{dede:field name="typenameen}</span> </h3>
          </div>
          <div class="xypg-left-con">
            <ul class="xypg-left-nav">
             {yycms:channel type='son'}

              <li> <a href="{$field.typeurl}" > {$field.typename}</a>
                <div class="first-nav-btn"></div>
              </li>
              {/yycms:channel}
            </ul>
          </div>
        </div>
        <div class="xypg-left-box xypg-left-news">
          <div class="xypg-left-title">
            <h3>新闻资讯<span>News</span></h3>
          </div>
          <div class="xypg-left-con">
            <ul class="latest-news">
			{yycms:arclist typeid="11" row="6" titlelen="60" orderby='pubdate'}
              <li><a href="{$field.arcurl}" title="{$field.title}">{$field.title}</a></li>
             {/yycms:arclist} 
            </ul>
          </div>
        </div>
        <div class="xypg-left-box xypg-left-keys">
          <div class="xypg-left-title">
            <h3>热门关键词<span>Keywords</span></h3>
          </div>
          <div class="xypg-left-con">
            <ul class="hot-keys">
            {yycms:channel typeid='2'}
			<li><a href='{$field.typeurl}'>{$field.typename}</a> </li>
			{/yycms:channel}
            </ul>
          </div>
        </div>
        <div class="xypg-left-box xypg-left-contact">
          <div class="xypg-left-title">
            <h3>联系我们<span>Contact Us</span></h3>
          </div>
          <div class="xypg-left-con">
            <div class="page-wrap-contact">
              <h4>{:syscfg('cfg_webname')}</h4>
              <p>联 系 人：{:syscfg('cfg_linkman')}&nbsp;</p>
              <p>联系电话：&nbsp;{:syscfg('cfg_tel')}</p>
              <p>网&nbsp; &nbsp; &nbsp; 址：{:syscfg('cfg_basehost')}</p>
              <p>地&nbsp; &nbsp; &nbsp;址：{:syscfg('cfg_address')}</p>
              <p><br/>
              </p>
            </div>
          </div>
        </div>
        <div class="page-message-img"> {yycms:type  typeid='17'}<a href="{$field.typeurl}"><img src="/static/images/20201123083736_224.jpg" alt=""></a> {/yycms:type}</div>
      </div>
    </div>