<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{$yy.field.title}_{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{$yy.field.description}" />
    <link rel="stylesheet" href="/skin/css/main.css"/>
    <link rel="stylesheet" href="/skin/css/media.css"/>
    <link rel="stylesheet" href="/skin/css/swiper-3.4.2.min.css"/>
    <script src="/skin/js/jquery-2.1.1.js"></script>
    <script src="/skin/js/swiper-3.4.2.min.js"></script>
    <script src="/skin/js/fastclick.js"></script>
    <!--[if IE]>
    <script src="/skin/js/html5shiv.min.js"></script>
    <script src="/skin/js/respond.min.js"></script>
    <![endif]-->
    <script src="/skin/js/main.js"></script>
</head>
<body>
{include file="head"/}
<div class="ban img100">
    <div class="pc-show"><img src="{$yy.field.typeimg}"/></div>
    <div class="phone-show"><img src="{$yy.field.typeimg}"/></div>
</div>
<div class="contentbox">
	
    <div class="w1200 relative">
		{include file="left_pro"/}
		<div class="box-prolists">
			<div class ="item-line">
				<div class="tab clear">
					<div class="title fl relative">
						<h3>滚珠丝杠</h3>
						<p>BALL SCREW</p>
						<i>A</I>
					</div>
					<ul class="fl">
						<li><a href="#">精密滚珠丝杠</a></li>
						<li class="on"><a href="#">精密滚珠丝杠</a></li>
						<li><a href="#">精密滚珠丝杠</a></li>
						<li><a href="#">精密滚珠丝杠</a></li>
					</ul>
				</div>
				<div class="item clear">
					<ul class="products-list clear margin-t50" style="display:block">
						{yycms:list pagesize ='2'}
						<li>
						<a href="{$field.arcurl}" class="imgscale">
							<div class="img100">
								<img src="/skin/images/p1.jpg"/>
							</div>
							</a>
							<div class="pro-list-bot">
								<div class="btn">
									<a href="#"> 详情系列</a>
								</div>	
							</div>
							</li>
							<li>
						<a href="{$field.arcurl}" class="imgscale">
							<div class="img100">
								<img src="/skin/images/p1.jpg"/>
							</div>
							</a>
							<div class="pro-list-bot">
								<div class="btn">
									<a href="#"> 详情系列</a>
								</div>	
							</div>
							</li>
						{/yycms:list}	
					</ul>
					<ul class="products-list clear margin-t50">
						{yycms:list pagesize ='2'}
						<li>
						<a href="{$field.arcurl}" class="imgscale">
							<div class="img100">
								<img src="{$field.picname}"/>
							</div>
							</a>
							<div class="pro-list-bot">
								<div class="btn">
									<a href="#"> 详情系列</a>
								</div>	
							</div>
							</li>
							<li>
						<a href="{$field.arcurl}" class="imgscale">
							<div class="img100">
								<img src="/skin/images/p1.jpg"/>
							</div>
							</a>
							<div class="pro-list-bot">
								<div class="btn">
									<a href="#"> 详情系列</a>
								</div>	
							</div>
							</li>
						{/yycms:list}	
					</ul>
				</div>
			</div>
			<!---b-->
			<div class ="item-line">
				<div class="tab clear">
					<div class="title fl relative">
						<h3>滚珠丝杠</h3>
						<p>BALL SCREW</p>
						<i>B</I>
					</div>
					<ul class="fl">
						<li><a href="#">精密滚珠丝杠</a></li>
						<li class="on"><a href="#">精密滚珠丝杠</a></li>
						<li><a href="#">精密滚珠丝杠</a></li>
						<li><a href="#">精密滚珠丝杠</a></li>
					</ul>
				</div>
				<div class="item clear">
					<ul class="products-list clear margin-t50" style="display:block">
						{yycms:list pagesize ='2'}
						<li>
						<a href="{$field.arcurl}" class="imgscale">
							<div class="img100">
								<img src="/skin/images/p1.jpg"/>
							</div>
							</a>
							<div class="pro-list-bot">
								<div class="btn">
									<a href="#"> 详情系列</a>
								</div>	
							</div>
							</li>
							<li>
						<a href="{$field.arcurl}" class="imgscale">
							<div class="img100">
								<img src="/skin/images/p1.jpg"/>
							</div>
							</a>
							<div class="pro-list-bot">
								<div class="btn">
									<a href="#"> 详情系列</a>
								</div>	
							</div>
							</li>
						{/yycms:list}	
					</ul>
					<ul class="products-list clear margin-t50">
						{yycms:list pagesize ='2'}
						<li>
						<a href="{$field.arcurl}" class="imgscale">
							<div class="img100">
								<img src="{$field.picname}"/>
							</div>
							</a>
							<div class="pro-list-bot">
								<div class="btn">
									<a href="#"> 详情系列</a>
								</div>	
							</div>
							</li>
							<li>
						<a href="{$field.arcurl}" class="imgscale">
							<div class="img100">
								<img src="/skin/images/p1.jpg"/>
							</div>
							</a>
							<div class="pro-list-bot">
								<div class="btn">
									<a href="#"> 详情系列</a>
								</div>	
							</div>
							</li>
						{/yycms:list}	
					</ul>
				</div>
			</div>
			<!---C-->
			<div class ="item-line">
				<div class="tab clear">
					<div class="title fl relative">
						<h3>滚珠丝杠</h3>
						<p>BALL SCREW</p>
						<i>C</I>
					</div>
					<ul class="fl">
						<li><a href="#">精密滚珠丝杠</a></li>
						<li class="on"><a href="#">精密滚珠丝杠</a></li>
						<li><a href="#">精密滚珠丝杠</a></li>
						<li><a href="#">精密滚珠丝杠</a></li>
					</ul>
				</div>
				<div class="item clear">
					<ul class="products-list clear margin-t50" style="display:block">
						{yycms:list pagesize ='2'}
						<li>
						<a href="{$field.arcurl}" class="imgscale">
							<div class="img100">
								<img src="/skin/images/p1.jpg"/>
							</div>
							</a>
							<div class="pro-list-bot">
								<div class="btn">
									<a href="#"> 详情系列</a>
								</div>	
							</div>
							</li>
							<li>
						<a href="{$field.arcurl}" class="imgscale">
							<div class="img100">
								<img src="/skin/images/p1.jpg"/>
							</div>
							</a>
							<div class="pro-list-bot">
								<div class="btn">
									<a href="#"> 详情系列</a>
								</div>	
							</div>
							</li>
						{/yycms:list}	
					</ul>
					<ul class="products-list clear margin-t50">
						{yycms:list pagesize ='2'}
						<li>
						<a href="{$field.arcurl}" class="imgscale">
							<div class="img100">
								<img src="{$field.picname}"/>
							</div>
							</a>
							<div class="pro-list-bot">
								<div class="btn">
									<a href="#"> 详情系列</a>
								</div>	
							</div>
							</li>
							<li>
						<a href="{$field.arcurl}" class="imgscale">
							<div class="img100">
								<img src="/skin/images/p1.jpg"/>
							</div>
							</a>
							<div class="pro-list-bot">
								<div class="btn">
									<a href="#"> 详情系列</a>
								</div>	
							</div>
							</li>
						{/yycms:list}	
					</ul>
				</div>
			</div>
			
			
			
        </div>
    </div>
</div>
  {include file="footer"/}
</body>
<script>
	$(function(){
		$('.tab ul li').hover(function(){
			//on
			$(this).addClass('on').siblings().removeClass('on');
			var item = $(this).parents(".tab").siblings();
			var index  = $(this).index();
			item.find("ul").eq(index).show().siblings().hide();
			
		})
	})
</script>
<script src="/skin/js/countup.js"></script>
</html>