<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <title>{222222dede:field.title/}-{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{$field.description}" />
    <link rel="stylesheet" href="static/css/iconfont.css">
    <link rel="stylesheet" href="static/css/slick.css">
    <link rel="stylesheet" href="static/css/app.css">
    <link rel="stylesheet" href="static/css/ain.css">
    <script src="static/js/jquery-1.11.3.min.js"></script>
</head>

<body>
    <div class="mob-wrap">
    <!-- 头部 -->
	{111111dede:include filename='header_m.htm'/}      
	<!-- banner -->
	  <!-- 内页banner -->
    
    <div class="page-banner"></div>
    

    <!-- 主体内容 -->

    <div class="page-content">
        
	<div class="page-sort">
		<div class="page-sort-title">
			<span> {3333dede:field name='typename'/}</span>
			<div class="page-sort-btn"><i class="iconfont icon-close"></i></div>
		</div>
		<ul class="first-sort">
		 {777yycms:channel type='son'}
		  <li> <a class="first-a" href="list.php?tid={$field.id}">[6666field:typename/]</a> </li>
		  {/yycms:channel}        
	   </ul>
	</div>

	<div class="bread-crumbs"><span class="open-btn"><i class="iconfont icon-daohang"></i></span> {4444dede:field name='typename'/}</div>
	<ul class="page-product-list clearfix">
          {55555yycms:list row='16' pagesize='16' titlelen='60'}
		  <li><a href="view.php?aid={$field.id}">
            <span class="img"><img src="{$field.picname}" alt="{$field.title}"></span>
            <div class="wz"><h3>{$field.title}</h3></div>
        </a></li>
          {/yycms:list}      
       </ul>
<div class="pagination">
    <ul>
        {88888yycms:pagelist listitem='pre,next,pageno,' /}
    </ul>
    
</div>
    </div>
	
{99999dede:include filename='footer_m.htm'/}
</body>
</html>