<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{$yy.field.title}-{:syscfg('cfg_webname')}</title>
<meta name="keywords" content="{$yy.field.keywords}" />
<meta name="description" content="{$field.description}" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/app.css">
<link rel="stylesheet" href="/static/css/ain.css">
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/app.js"></script>
<meta name="baidu-site-verification" content="code-ggotqzrsYO" />
</head>
<body>
{include file="head"/}
<div class="page-banner"> <img src="/static/images/20201208150652_942.jpg" alt="{$field.typename}"> </div>
<div class="page-position">
  <div class="container"> 您当前的位置 ： {$field.position} </div>
</div>
<div class="page-wrap">
  <div class="container">
   
      {include file="left"/}
    <div class="page-wrap-right">
      <div class="xypg-right-content"> 
        
        <!-- 新闻列表页 -->
        
        <ul class="xypg-news-list">
		{yycms:list row='10' pagesize='10' titlelen='60'}
          <li><a href="{$field.arcurl}" title="{$field.title}">
            <div class="tit">
              <h3>{$field.title}</h3>
              <div class="date">[field:pubdate function=MyDate('Y-m-d',@me)/]</div>
            </div>
            <div class="info">{$field.description}...</div>
            <div class="more"><span>了解详情 +</span></div>
            </a></li>
          {/yycms:list}
        </ul>
        <div class="xypg-pagination">
          <ul>{yycms:pagelist listitem='index,pre,next,pageno,end,' /}<span style="clear:both:"></span></ul>
        </div>
      </div>
    </div>
    <div class="page-mob-tool">
      <ul>
        <li class="xymob-page-navbtn"><i class="icon-font icon-dots-horizontal"></i></li>
        <li class="xymob-page-backtop"><i class="icon-font icon-top"></i></li>
      </ul>
    </div>
  </div>
</div>
{include file="footer"/}
</body>
</html>
