 <script src="__YYADMIN__/layui/layui.js"></script>
<!-- jQuery JS -->
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delAll">删除</button>
  </div>
</script>

<script>
    window.formData = {:isset($formData)?(json_encode($formData)):'""'},
    window.url = window.location.href,//当前URL
    window.yyadminPath ='__YYADMIN__'; 
    window.addEditUrl = '{:url(lcfirst(request()->controller())."/addEdit")}',
    window.rowEditUrl = '{:url(lcfirst(request()->controller())."/rowEdit")}',
    window.uploadUrl = '{:url("ajax/uploads")}',
    window.delUrl = '{:url(lcfirst(request()->controller())."/del")}';
    window.delAllUrl = '{:url(lcfirst(request()->controller())."/delAll")}';
    layui.config({
        base: yyadminPath + "/js/"
    })
</script>
</body>
</html>