 <script src="__YYADMIN__/layui/layui.js"></script>
<!-- jQuery JS -->
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add">添加</button>
    <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="delAll">删除</button>
  </div>
</script>
<script type="text/html" id="operate">
  <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" >删除</a>
</script>
<script>
    window.formData = {:isset($formData)?(json_encode($formData)):'""'},
    window.url = window.location.href,//当前URL
    window.yyadminPath ='__YYADMIN__'; 
    window.addEditUrl = '{:url(request()->controller()."/addEdit")}',
    window.rowEditUrl = '{:url(request()->controller()."/rowEdit")}',
    window.uploadUrl = '{:url("ajax/uploads")}',
    window.delUrl = '{:url(request()->controller()."/del")}';
    window.delAllUrl = '{:url(request()->controller()."/delAll")}';
    layui.config({
        base: yyadminPath + "/js/"
    })
</script>
</body>
</html>